flows.json
[{"id":"e192b617ac3e4aa3","type":"tab","label":"フロー 1","disabled":false,"info":"","env":[]},{"id":"c536333e5fd87426","type":"group","z":"e192b617ac3e4aa3","name":"Đổi","style":{"fill":"#ffff3f","label":true},"nodes":["6b1d17eaf2cbe63b","ae5c83f296373a43","0cd3ef560f0479fb","b6e255f04d0b43b9","7dd6ea05e264c521","e610a11980296800","df11d65fadb780ab","5d385772424a164d","bcc90234f5cdb979","f482484a2fde0507","bbbbc3bab77d0cfd","87c7b2ac41413509","4e19d31f0d911834","be37301669b86324","c4d725ce8b59997d","38d4ecd6971bb9cf","b7852c7980f88bd0","b93287fe97c1bed7","e84ac62a98822524","a0fe03b215b32e5e","8bdd5178ba05ecfc","f2a44f2d8213a180","6a834f025d0f43f1","ca31e271fc3e2b5f"],"x":2774,"y":1459,"w":1272,"h":642},{"id":"291e126bed41b839","type":"ui_ui_control","z":"e192b617ac3e4aa3","name":"","events":"all","x":1700,"y":160,"wires":[["eed714ccaacac8a4"]]},{"id":"db8175d8f6219b96","type":"inject","z":"e192b617ac3e4aa3","name":"Lặp mỗi giây","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":"0.1","topic":"","x":2340,"y":260,"wires":[["0d802fa2311b8a07"]]},{"id":"0d802fa2311b8a07","type":"function","z":"e192b617ac3e4aa3","name":"Lấy giờ Việt Nam","func":"let now = new Date();\n\n// Cộng thêm 7 tiếng để ra giờ Việt Nam\nnow.setHours(now.getHours() + 7);\n\nlet gio = now.getHours().toString().padStart(2, '0');\nlet phut = now.getMinutes().toString().padStart(2, '0');\nlet giay = now.getSeconds().toString().padStart(2, '0');\n\nlet ngay = now.getDate().toString().padStart(2, '0');\nlet thang = (now.getMonth() + 1).toString().padStart(2, '0');\nlet nam = now.getFullYear();\n\nmsg.payload = `🕒 ${gio}:${phut}:${giay} | 📅 ${ngay}/${thang}/${nam}`;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2530,"y":260,"wires":[["0575628f1f18a66e"]]},{"id":"0575628f1f18a66e","type":"ui_text","z":"e192b617ac3e4aa3","group":"bc890b17fb36f5ca","order":6,"width":6,"height":1,"name":"Hiển thị thời gian","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":2730,"y":260,"wires":[]},{"id":"dce6f6a11eee302d","type":"inject","z":"e192b617ac3e4aa3","name":"Giả lập nhiệt độ","props":[],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payloadType":"date","x":2970,"y":100,"wires":[["640628574ee97ecf"]]},{"id":"640628574ee97ecf","type":"function","z":"e192b617ac3e4aa3","name":"Nhiệt độ ngẫu nhiên","func":"let month = new Date().getMonth() + 1; // Tháng 1–12 \n\nlet baseTemp;\nswitch (month) {\n    case 1: case 2: case 12:\n        baseTemp = 27; // mùa \"mát\"\n        break;\n    case 3: case 4: case 5:\n        baseTemp = 29; // mùa nắng đỉnh điểm\n        break;\n    case 6: case 7: case 8: case 9: case 10: case 11:\n        baseTemp = 28; // mùa mưa\n        break;\n    default:\n        baseTemp = 28;\n}\n\nlet temp = (Math.random() * 1.5 + baseTemp).toFixed(1);\n\nmsg.payload = `🌡️ Nhiệt độ: ${temp} °C – 🏙️ TP.HCM`;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3200,"y":100,"wires":[["6041f895f9f04883"]]},{"id":"c15a9b9d3f152b6b","type":"ui_template","z":"e192b617ac3e4aa3","group":"bc890b17fb36f5ca","name":"Title MakerSpace","order":2,"width":0,"height":0,"format":"<!-- Font đẹp -->\n<link href=\"https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap\" rel=\"stylesheet\">\n\n<style>\n  .fade-in-text {\n    opacity: 0;\n    animation: fadeIn 1s ease-out forwards, colorCycle 8s ease-in-out infinite;\n    background: linear-gradient(270deg, #00c3ff, #ff6ec4, #36f372, #ffcc70, #00c3ff);\n    background-size: 800% 800%;\n    -webkit-background-clip: text;\n    -webkit-text-fill-color: transparent;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(20px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  @keyframes colorCycle {\n    0% {\n      background-position: 0% 50%;\n    }\n\n    50% {\n      background-position: 100% 50%;\n    }\n\n    100% {\n      background-position: 0% 50%;\n    }\n  }\n</style>\n\n<div class=\"fade-in-text\" style=\"\n  text-align: center;\n  font-size: 28px;\n  font-weight: bold;\n  font-family: 'Orbitron', sans-serif;\n  letter-spacing: 2px;\n  margin-top: -2px\n\">\n  MAKERSPACE\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2150,"y":360,"wires":[[]]},{"id":"d44687f5e47e7dc4","type":"ui_template","z":"e192b617ac3e4aa3","group":"52c17a7636c487aa","name":"Địa chỉ trường trang trí đẹp","order":4,"width":6,"height":2,"format":"<!-- Font và Icon hiện đại -->\n<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap\" rel=\"stylesheet\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css\">\n\n<!-- Địa chỉ có hiệu ứng fade-in -->\n<div class=\"fade-in-box\" style=\"\n  display: flex;\n  align-items: center;\n  gap: 10px;\n  padding: 10px 16px;\n  background: #f0f4ffcc;\n  backdrop-filter: blur(4px);\n  border-radius: 10px;\n  border-left: 4px solid #3f8efc;\n  font-family: 'Inter', sans-serif;\n  font-size: 16px;\n  color: #2d3a4b;\n  max-width: 460px;\n  margin: 16px auto;\n  box-shadow: 0 4px 12px rgba(0,0,0,0.04);\n\">\n  <i class=\"fas fa-location-dot\" style=\"\n    background: linear-gradient(135deg, #3f8efc, #00c6ff);\n    -webkit-background-clip: text;\n    -webkit-text-fill-color: transparent;\n    font-size: 18px;\"></i>\n  <span>1 Võ Văn Ngân, P. Thủ Đức, TP. Hồ Chí Minh</span>\n</div>\n\n<style>\n  .fade-in-box {\n    opacity: 0;\n    transform: translateY(20px);\n    animation: fadeInUp 0.8s ease-out forwards;\n  }\n\n  @keyframes fadeInUp {\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":2300,"y":100,"wires":[[]]},{"id":"208c387f934b84d5","type":"ui_template","z":"e192b617ac3e4aa3","group":"bc890b17fb36f5ca","name":"Tên trường","order":1,"width":6,"height":2,"format":"<!-- Font + Giao diện banner hiện đại -->\n<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap\" rel=\"stylesheet\">\n\n<style>\n  .school-banner-wrapper {\n    position: relative;\n    padding: 2px;\n    /* viền mỏng */\n    border-radius: 14px;\n    background: linear-gradient(270deg, #ff4dc4, #4de3ff, #82ff4d, #ffdf4d, #ff4dc4);\n    background-size: 400% 400%;\n    animation: borderAnimation 8s linear infinite;\n    max-width: 610px;\n    margin: 0 auto;\n    /* bỏ khoảng cách trên/dưới */\n  }\n\n  .school-banner {\n    background: linear-gradient(135deg, #ffffff, #e3f2fd);\n    border-radius: 12px;\n    font-family: 'Inter', sans-serif;\n    font-size: 18px;\n    font-weight: 600;\n    color: #0d47a1;\n    padding: 16px 24px;\n    /* giảm padding trên để sát hơn */\n    text-align: center;\n    box-shadow: 0 6px 16px rgba(33, 150, 243, 0.1);\n    animation: fadeIn 1s ease-out forwards;\n    transition: transform 0.3s ease, box-shadow 0.3s ease;\n  }\n\n  @keyframes borderAnimation {\n    0% {\n      background-position: 0% 50%;\n    }\n\n    50% {\n      background-position: 100% 50%;\n    }\n\n    100% {\n      background-position: 0% 50%;\n    }\n  }\n\n  .school-banner:hover {\n    transform: translateY(-3px);\n    box-shadow: 0 10px 20px rgba(33, 150, 243, 0.2);\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(20px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n</style>\n\n<div class=\"school-banner-wrapper\">\n  <div class=\"school-banner\">\n    🎓 Trường Đại Học Sư Phạm Kỹ Thuật TP.HCM\n  </div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":2590,"y":100,"wires":[[]]},{"id":"6041f895f9f04883","type":"ui_text","z":"e192b617ac3e4aa3","group":"bc890b17fb36f5ca","order":5,"width":6,"height":1,"name":"Nhiệt độ hiện tại","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":3440,"y":100,"wires":[]},{"id":"af3aefd4b00e2585","type":"ui_template","z":"e192b617ac3e4aa3","group":"aaa0beb438579067","name":"Trang Hướng dẫn","order":1,"width":7,"height":14,"format":"<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap\" rel=\"stylesheet\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n\n<style>\n  body {\n    background-color: #f5f7fa;\n    margin: 0;\n    font-family: 'Inter', sans-serif;\n    color: #333;\n    animation: fadeIn 0.6s ease-in-out;\n    padding: 12px;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(16px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  @keyframes softGlow {\n    0% {\n      box-shadow: 0 0 6px #00e5ff66, 0 0 12px #00e5ff33;\n      border-color: #00e5ff66;\n    }\n\n    25% {\n      box-shadow: 0 0 6px #ff00ff66, 0 0 12px #ff00ff33;\n      border-color: #ff00ff66;\n    }\n\n    50% {\n      box-shadow: 0 0 6px #00ff9966, 0 0 12px #00ff9933;\n      border-color: #00ff9966;\n    }\n\n    75% {\n      box-shadow: 0 0 6px #9966ff66, 0 0 12px #9966ff33;\n      border-color: #9966ff66;\n    }\n\n    100% {\n      box-shadow: 0 0 6px #00e5ff66, 0 0 12px #00e5ff33;\n      border-color: #00e5ff66;\n    }\n  }\n\n  .guide-box {\n    background: #ffffff;\n    border-radius: 16px;\n    padding: 20px;\n    border: 2px solid #00e5ff44;\n    animation: softGlow 8s infinite ease-in-out;\n    box-sizing: border-box;\n  }\n\n  .guide-box h2 {\n    color: #1976d2;\n    font-size: 22px;\n    margin-bottom: 12px;\n    text-align: center;\n    font-weight: 600;\n  }\n\n  .guide-box h3 {\n    font-size: 18px;\n    color: #444;\n    margin: 20px 0 8px;\n  }\n\n  .guide-box p {\n    font-size: 15px;\n    line-height: 1.6;\n    margin: 8px 0;\n  }\n\n  .guide-box ul {\n    padding-left: 20px;\n    margin: 6px 0 12px;\n  }\n\n  .guide-box ul li {\n    font-size: 15px;\n    margin-bottom: 6px;\n  }\n\n  .highlight {\n    color: #c62828;\n    font-weight: 600;\n  }\n\n  @media (max-width: 480px) {\n    .guide-box {\n      padding: 16px;\n    }\n\n    .guide-box h2 {\n      font-size: 20px;\n    }\n\n    .guide-box h3 {\n      font-size: 16px;\n    }\n\n    .guide-box p,\n    .guide-box ul li {\n      font-size: 14px;\n    }\n  }\n\n  /* Video Modal */\n  .modal {\n    position: fixed;\n    z-index: 9999;\n    left: 0;\n    top: 0;\n    width: 100%;\n    height: 100%;\n    background-color: rgba(0, 0, 0, 0.6);\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    /* ẩn mặc định */\n  }\n\n.modal-content {\nposition: relative; /* thêm dòng này */\nbackground-color: #fff;\nmargin: 0;\npadding: 0;\nborder-radius: 10px;\nwidth: 90%;\nmax-width: 720px;\nmax-height: 90vh;\noverflow: hidden; /* dùng hidden để dấu x nằm trên iframe */\nanimation: fadeIn 0.3s ease-in-out;\n\n  max-height: 90vh;\n  overflow: auto;\n}\n\n.modal-content iframe {\nwidth: 100%;\nborder-radius: 10px;\nposition: relative;\nz-index: 1; /* iframe thấp hơn nút x */\n}\n\n.close {\nposition: absolute;\ntop: 8px; /* chỉnh sát góc */\nright: 8px; /* chỉnh sát góc */\ncolor: #fff;\nfont-size: 28px;\nfont-weight: bold;\ncursor: pointer;\nz-index: 10; /* nổi trên iframe */\nbackground: rgba(0,0,0,0.5);\nborder-radius: 50%;\nwidth: 36px;\nheight: 36px;\nline-height: 36px;\ntext-align: center;\n}\n.close:hover {\ncolor: #ff0000;\nbackground: rgba(0,0,0,0.7);\n}\n  .video-btn {\n    display: inline-flex;\n    align-items: center;\n    gap: 8px;\n    margin-top: 16px;\n    padding: 10px 22px;\n    font-size: 15px;\n    font-weight: 600;\n    font-family: 'Inter', sans-serif;\n    background-color: #ff0000;\n    color: #fff;\n    border: none;\n    border-radius: 24px;\n    cursor: pointer;\n    transition: all 0.25s ease;\n    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.4), 0 0 12px rgba(255, 0, 0, 0.3);\n  }\n\n  .video-btn:hover {\n    background-color: #e60000;\n    transform: translateY(-2px);\n    box-shadow: 0 6px 18px rgba(255, 0, 0, 0.6), 0 0 16px rgba(255, 0, 0, 0.5);\n  }\n</style>\n\n<div class=\"guide-box\">\n  <h2>Hệ thống điều khiển MakerSpace</h2>\n  <p>Nơi sinh viên có thể sử dụng và điều khiển thiết bị chiếu sáng, hỗ trợ trong việc nghiên cứu, học tập và trải\n    nghiệm thực tiễn.</p>\n\n  <h3>1. Đối tượng người dùng</h3>\n  <ul>\n    <li><b>Sinh viên chưa đăng ký</b>: Tham quan, học tập.</li>\n    <li><b>Đối tượng đã đăng ký</b>: Nhóm sinh viên, giảng viên làm việc.</li>\n    <li><b>Bảo mật</b>: Bộ phận quản lý, toàn quyền hệ thống.</li>\n  </ul>\n\n  <h3>2. Tài khoản &amp; Bảo mật</h3>\n  <ul>\n    <li><span class=\"highlight\">Đăng ký tài khoản qua bộ phận quản lý CISAT</span>.</li>\n    <li><b>Sinh viên chưa đăng ký</b>: Điều khiển đèn nhanh (1 đèn - 1 giờ).</li>\n    <li><b>Sinh viên đã đăng ký</b>: Không giới hạn đèn <span class=\"highlight\">(Email@student.hcmute.edu.vn)</span>.\n    </li>\n    <li><b>Giảng viên đã đăng ký</b>: Không giới hạn thiết bị <span class=\"highlight\">(Email@hcmute.edu.vn)</span>.</li>\n    <li><b>Admin</b>: Sử dụng email được cấp sẵn.</li>\n    <li>Mật khẩu ≥ 6 ký tự. Quên mật khẩu → liên hệ Admin.</li>\n  </ul>\n\n  <h3>3. Lưu ý khi sử dụng</h3>\n  <ul>\n    <li>Guest có thể xin thêm thời gian sử dụng đèn.</li>\n    <li>Tắt đèn/quạt sau khi dùng (trừ khi tự động).</li>\n    <li>Mọi thắc mắc, liên hệ bộ phận kỹ thuật.</li>\n  </ul>\n\n  <!-- Nút video -->\n  <button class=\"video-btn\" onclick=\"openModal()\"> Video hướng dẫn</button>\n</div>\n\n<!-- Video Modal -->\n<div id=\"videoModal\" class=\"modal\">\n  <div class=\"modal-content\">\n    <span class=\"close\" onclick=\"closeModal()\">&times;</span>\n    <iframe id=\"youtubeFrame\" height=\"400\" src=\"https://www.youtube.com/embed/yPUTci1q8To?autoplay=1\" frameborder=\"0\"\n      allow=\"autoplay; encrypted-media\" allowfullscreen></iframe>\n  </div>\n</div>\n\n<script>\n  function openModal() {\n    document.getElementById(\"videoModal\").style.display = \"flex\";\n  }\n  function closeModal() {\n    document.getElementById(\"videoModal\").style.display = \"none\";\n  }\n\n  // Đóng modal khi click ra ngoài\n  window.onclick = function(event) {\n    if (event.target === document.getElementById(\"videoModal\")) {\n      closeModal();\n    }\n  }\n window.onload = function() {  \n  setTimeout(openModal, 50);\n  };\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1770,"y":420,"wires":[[]]},{"id":"d4e2b9d143e03681","type":"ui_template","z":"e192b617ac3e4aa3","group":"group_info","name":"Trang Thông Tin MakerSpace","order":1,"width":7,"height":14,"format":"<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap\" rel=\"stylesheet\" />\n\n<style>\n  body {\n    background-color: #f5f7fa;\n    margin: 0;\n    font-family: 'Inter', sans-serif;\n    color: #333;\n    animation: fadeIn 0.6s ease-in-out;\n    padding-top: 20px;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(16px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  @keyframes softGlow {\n    0% {\n      box-shadow: 0 0 6px #00e5ff66, 0 0 12px #00e5ff33;\n      border-color: #00e5ff66;\n    }\n\n    25% {\n      box-shadow: 0 0 6px #ff00ff66, 0 0 12px #ff00ff33;\n      border-color: #ff00ff66;\n    }\n\n    50% {\n      box-shadow: 0 0 6px #00ff9966, 0 0 12px #00ff9933;\n      border-color: #00ff9966;\n    }\n\n    75% {\n      box-shadow: 0 0 6px #9966ff66, 0 0 12px #9966ff33;\n      border-color: #9966ff66;\n    }\n\n    100% {\n      box-shadow: 0 0 6px #00e5ff66, 0 0 12px #00e5ff33;\n      border-color: #00e5ff66;\n    }\n  }\n\n  .container {\n    max-width: 800px;\n    margin: 20px auto;\n    padding: 40px;\n    background: #ffffff;\n    border-radius: 20px;\n    box-sizing: border-box;\n    position: relative;\n    transition: all 0.3s ease;\n    border: 2px solid #00e5ff44;\n    animation: softGlow 10s infinite ease-in-out;\n  }\n\n  h2 {\n    margin-top: 0;\n    color: #1976d2;\n    font-size: 26px;\n    text-align: center;\n    font-weight: 600;\n  }\n\n  p {\n    margin: 12px 0;\n    line-height: 1.7;\n    font-size: 16px;\n  }\n\n  ul {\n    padding-left: 20px;\n    font-size: 16px;\n    margin: 8px 0 16px;\n  }\n\n  .highlight {\n    background-color: #e3f2fd;\n    border-left: 5px solid #2196f3;\n    padding: 16px 20px;\n    border-radius: 12px;\n    margin-top: 24px;\n    transition: background 0.3s ease;\n  }\n\n  .highlight:hover {\n    background-color: #d0eafd;\n  }\n\n  .contact-info {\n    background-color: #f1f8e9;\n    border-left: 5px solid #8bc34a;\n    padding: 16px 20px;\n    border-radius: 12px;\n    margin-top: 30px;\n    transition: background 0.3s ease;\n  }\n\n  .contact-info:hover {\n    background-color: #e3f3d9;\n  }\n\n  .label {\n    font-weight: 600;\n    color: #4caf50;\n  }\n\n  a {\n    color: #1976d2;\n    text-decoration: none;\n    position: relative;\n    font-weight: 500;\n  }\n\n  a::after {\n    content: \"\";\n    position: absolute;\n    width: 0%;\n    height: 2px;\n    left: 0;\n    bottom: -2px;\n    background-color: #1976d2;\n    transition: width 0.3s ease;\n  }\n\n  a:hover::after {\n    width: 100%;\n  }\n\n  a:hover {\n    color: #0d47a1;\n  }\n\n  @media (max-width: 600px) {\n    .container {\n      padding: 24px;\n    }\n\n    h2 {\n      font-size: 22px;\n    }\n\n    p,\n    ul {\n      font-size: 15px;\n    }\n  }\n</style>\n\n<div class=\"container\">\n  <h2>🌟 MAKERSPACE 🌟</h2>\n\n  <p>MakerSpace là <b>không gian học tập sáng tạo hiện đại</b> dành riêng cho sinh viên và giảng viên Trường Đại học\n    Sư phạm Kỹ thuật TP.HCM.</p>\n\n  <div class=\"highlight\">\n    <p>Tại đây, bạn có thể:</p>\n    <ul>\n      <li>Triển khai dự án cá nhân, đồ án tốt nghiệp</li>\n      <li>Tổ chức cuộc thi sáng tạo, biểu diễn văn nghệ</li>\n      <li>Trình diễn thời trang công nghệ</li>\n      <li>Thực hiện nghiên cứu khoa học từ cơ bản đến nâng cao</li>\n    </ul>\n  </div>\n\n  <p>MakerSpace hỗ trợ đầy đủ công cụ kỹ thuật:</p>\n  <ul>\n    <li>Máy in 3D, máy CNC, máy cắt laser</li>\n    <li>Thiết bị IoT, điện – điện tử</li>\n    <li>Cơ khí chế tạo,...</li>\n  </ul>\n\n  <p>Không chỉ là nơi để <b>“làm”</b>, MakerSpace còn là nơi gieo mầm <b>tư duy đổi mới</b>, rèn kỹ năng thực hành và\n    truyền cảm hứng làm việc nhóm – chuẩn bị hành trang cho hành trình trở thành kỹ sư – nhà sáng tạo tương lai.</p>\n\n  <div class=\"contact-info\">\n    <p><span class=\"label\">📌 Giám đốc phụ trách:</span><br>ThS. Lê Tấn Cường</p>\n    <p><span class=\"label\">📧 Email:</span> <a href=\"mailto:cisat@hcmute.edu.vn\">cisat@hcmute.edu.vn</a></p>\n    <p><span class=\"label\">🌐 Website:</span> <a href=\"http://cisat.hcmute.edu.vn\"\n        target=\"_blank\">cisat.hcmute.edu.vn</a></p>\n    <p><span class=\"label\">📞 Điện thoại:</span> 0909 744 100</p>\n    <p><span class=\"label\">✉️ Email cá nhân:</span> <a href=\"mailto:cuonglt@hcmute.edu.vn\">cuonglt@hcmute.edu.vn</a></p>\n  </div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":2030,"y":420,"wires":[[]]},{"id":"00541db8912931d9","type":"function","z":"e192b617ac3e4aa3","name":"Lấy số từ giọng nói","func":"const text = msg.payload.toLowerCase();  // chuyển về chữ thường\n\n// Chỉ xử lý khi có chữ \"tắt\" hoặc \"tắc\"\nif (text.includes(\"tắt\") || text.includes(\"tắc\")) {\n    const match = text.match(/\\d+/); // tìm số đầu tiên\n    if (match) {\n        const number = parseInt(match[0]);\n        msg.payload = {\n            device: number,\n            Hour: 1\n        };\n        return msg;\n    }\n}\n\n// Nếu không có chữ \"tắt\" hoặc không có số thì bỏ qua\nreturn null;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":420,"wires":[[]]},{"id":"f9e4145dfb09d132","type":"mqtt out","z":"e192b617ac3e4aa3","name":"MQTT Gửi token","topic":"TOKEN_21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":1770,"y":500,"wires":[]},{"id":"b4851d0564706860","type":"function","z":"e192b617ac3e4aa3","name":"Tạo token và link","func":"const token = Math.random().toString(36).substring(2, 12);\nconst msgOut = {\n    payload: JSON.stringify({ token: token })\n};\n\n// Gửi token này tới Node-RED Điều khiển\nmsgOut.topic = \"token/check21146282\";\n\nreturn msgOut;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":500,"wires":[["f9e4145dfb09d132"]]},{"id":"74edfa57e796b084","type":"ui_button","z":"e192b617ac3e4aa3","name":"","group":"061d34e475bc0b4d","order":3,"width":3,"height":1,"passthru":false,"label":"Quay lại","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Dashboard MakerSpace\"}","payloadType":"json","topic":"","topicType":"str","x":1820,"y":360,"wires":[["291e126bed41b839"]]},{"id":"0cbcf0d78bbff999","type":"ui_button","z":"e192b617ac3e4aa3","name":"","group":"061d34e475bc0b4d","order":4,"width":3,"height":1,"passthru":false,"label":"Hướng dẫn","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Hướng dẫn\"}","payloadType":"json","topic":"","topicType":"str","x":1990,"y":120,"wires":[["291e126bed41b839"]]},{"id":"5489ebd3b7c40b64","type":"ui_template","z":"e192b617ac3e4aa3","group":"aaa0beb438579067","name":"Thoát","order":3,"width":3,"height":1,"format":"<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease;\n    /* Đổ bóng ngoài mờ hơn */\n    box-shadow: 0 0 12px rgba(0, 234, 255, 0.3), 0 0 24px rgba(0, 119, 255, 0.25);\n  }\n\n  .fancy-btn:hover {\n    transform: scale(1.05);\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.25);\n    transform: skewX(-25deg);\n    animation: sweep 2s infinite;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n\n  .fadeout {\n    animation: fadeOutBody 1s forwards;\n  }\n\n  @keyframes fadeOutBody {\n    to {\n      opacity: 0;\n      transform: scale(1.02);\n    }\n  }\n</style>\n\n<div style=\"text-align:center; margin-top: 0;\">\n  <button class=\"fancy-btn\" onclick=\"fadeAndGo()\">Trang chủ</button>\n</div>\n\n<script>\n  function fadeAndGo() {\n    document.body.classList.add('fadeout');\n    const audio = new Audio('https://assets.mixkit.co/sfx/download/mixkit-interface-click-1125.mp3');\n    audio.play();\n    setTimeout(() => {\n      window.location.href = \"https://lightmode-makerspace.onrender.com/ui\";\n    }, 1000);\n  }\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2250,"y":540,"wires":[[]]},{"id":"13654abec9105d55","type":"ui_template","z":"e192b617ac3e4aa3","group":"918d35a5629175cc","name":"Quay lại","order":2,"width":3,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"fancy-btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Dashboard MakerSpace'}})\">\n    Quay lại\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://www.soundjay.com/water/sounds/water-droplet-1.mp3\" preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease;\n    box-shadow: 0 0 8px #00eaff80, 0 0 15px #0077ff80;\n  }\n\n  .fancy-btn:hover {\n    transform: scale(1.05);\n    box-shadow: 0 0 12px #00eaff, 0 0 22px #0077ff;\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.2);\n    transform: skewX(-25deg);\n    animation: sweep 3s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2160,"y":300,"wires":[["291e126bed41b839"]]},{"id":"acc81eca4aed72fb","type":"ui_template","z":"e192b617ac3e4aa3","group":"bc890b17fb36f5ca","name":"Thông tin","order":3,"width":3,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"fancy-btn fade-in-btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Thông tin'}})\">\n    Thông tin\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://chattest.openai.com/mf/files/file-3kcjR1N1ByHr4XMGVFerUt/water-drop-89799.mp3\"\n  preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease, box-shadow 0.3s ease;\n    box-shadow: 0 0 6px rgba(0, 234, 255, 0.4), 0 0 12px rgba(0, 119, 255, 0.3);\n    animation: fadeIn 1s ease-out;\n  }\n\n  .fancy-btn:hover {\n    transform: scale(0.8);\n    box-shadow: 0 0 10px rgba(0, 234, 255, 0.8), 0 0 18px rgba(0, 119, 255, 0.7);\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -100%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.25);\n    transform: skewX(-20deg);\n    animation: sweep 2.5s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -100%;\n    }\n\n    100% {\n      left: 120%;\n    }\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(20px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1880,"y":280,"wires":[["291e126bed41b839"]]},{"id":"4790fc13f3a6728e","type":"ui_template","z":"e192b617ac3e4aa3","group":"bc890b17fb36f5ca","name":"Hướng dẫn","order":4,"width":3,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"fancy-btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Hướng dẫn'}})\">\n    Hướng dẫn\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://chattest.openai.com/mf/files/file-3kcjR1N1ByHr4XMGVFerUt/water-drop-89799.mp3\"\n  preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease, box-shadow 0.3s ease;\n    box-shadow: 0 0 6px rgba(0, 234, 255, 0.4), 0 0 12px rgba(0, 119, 255, 0.3);\n    /* Nhạt hơn */\n  }\n\n  .fancy-btn:hover {\n    transform: scale(0.8);\n    box-shadow: 0 0 10px rgba(0, 234, 255, 0.8), 0 0 18px rgba(0, 119, 255, 0.7);\n    /* Vẫn có hiệu ứng hover */\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -100%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.25);\n    transform: skewX(-20deg);\n    animation: sweep 2.5s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -100%;\n    }\n\n    100% {\n      left: 120%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1739,"y":248,"wires":[["291e126bed41b839"]]},{"id":"518c8e3e7c4688f2","type":"ui_template","z":"e192b617ac3e4aa3","group":"group_guides","name":"Quay lại","order":3,"width":3,"height":1,"format":"<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease;\n    /* Đổ bóng ngoài mờ hơn */\n    box-shadow: 0 0 12px rgba(0, 234, 255, 0.3), 0 0 24px rgba(0, 119, 255, 0.25);\n  }\n\n  .fancy-btn:hover {\n    transform: scale(1.05);\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.25);\n    transform: skewX(-25deg);\n    animation: sweep 2s infinite;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n\n  .fadeout {\n    animation: fadeOutBody 1s forwards;\n  }\n\n  @keyframes fadeOutBody {\n    to {\n      opacity: 0;\n      transform: scale(1.02);\n    }\n  }\n</style>\n\n<div style=\"text-align:center; margin-top: 0;\">\n  <button class=\"fancy-btn\" onclick=\"fadeAndGo()\">Trang chủ</button>\n</div>\n\n<script>\n  function fadeAndGo() {\n    document.body.classList.add('fadeout');\n    const audio = new Audio('https://assets.mixkit.co/sfx/download/mixkit-interface-click-1125.mp3');\n    audio.play();\n    setTimeout(() => {\n      window.location.href = \"https://node-red-on-render-pgsk.onrender.com/ui/\";\n    }, 1000);\n  }\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1420,"y":200,"wires":[["291e126bed41b839"]]},{"id":"eb8495b6b5deab23","type":"ui_template","z":"e192b617ac3e4aa3","group":"group_info","name":"Quay lại","order":3,"width":3,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"fancy-btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Dashboard MakerSpace'}})\">\n    Quay lại\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://www.soundjay.com/water/sounds/water-droplet-1.mp3\" preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease;\n    box-shadow: 0 0 8px #00eaff80, 0 0 15px #0077ff80;\n  }\n\n  .fancy-btn:hover {\n    transform: scale(1.05);\n    box-shadow: 0 0 12px #00eaff, 0 0 22px #0077ff;\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.2);\n    transform: skewX(-25deg);\n    animation: sweep 3s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1900,"y":60,"wires":[["291e126bed41b839"]]},{"id":"04ae843085cf386e","type":"ui_template","z":"e192b617ac3e4aa3","group":"52c17a7636c487aa","name":"Sinh viên chưa đăng ký","order":1,"width":6,"height":1,"format":"<div class=\"fader\">\n  <md-button class=\"btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Chưa đăng ký'}})\">\n    BẬT ĐÈN NHANH (GIỚI HẠN)\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://www.soundjay.com/water/sounds/water-droplet-1.mp3\" preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n      const audio = document.getElementById('dropSound');\n      if (audio) {\n        audio.curreACntTime = 0;\n        audio.play();\n      }\n    }\n</script>\n\n<style>\n  .fader {\n    display: flex;\n    justify-content: center;\n    margin-top: 2px;\n    animation: fadeIn 0.8s ease-out;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(12px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  .btn {\n    width: 90%;\n    height: 40px;\n    padding: 6px 12px;\n    font-size: 16px;\n    font-weight: 600;\n    color: white !important;\n    background: linear-gradient(135deg, #adff2f, #006400);\n    border: none;\n    border-radius: 12px;\n    cursor: pointer;\n    text-align: center;\n    transition: transform 0.2s ease, box-shadow 0.2s ease;\n    box-shadow: 0 0 6px #adff2f80, 0 0 12px #00ff7f80;\n    position: relative;\n    overflow: hidden;\n  }\n\n  .btn:hover {\n    transform: scale(0.98);\n    box-shadow: 0 0 10px #adff2f, 0 0 18px #00ff7f;\n  }\n\n  .btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.2);\n    transform: skewX(-25deg);\n    animation: sweep 3s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1390,"y":40,"wires":[["291e126bed41b839","b4851d0564706860","5e77cbc39b88be9f"]]},{"id":"bcd972834f9d0827","type":"ui_template","z":"e192b617ac3e4aa3","group":"f019ca3911f49866","name":"Quay lại","order":1,"width":3,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"fancy-btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Dashboard MakerSpace'}})\">\n    Quay lại\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://www.soundjay.com/water/sounds/water-droplet-1.mp3\" preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease;\n    box-shadow: 0 0 8px #00eaff80, 0 0 15px #0077ff80;\n  }\n\n  .fancy-btn:hover {\n    transform: scale(1.05);\n    box-shadow: 0 0 12px #00eaff, 0 0 22px #0077ff;\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.2);\n    transform: skewX(-25deg);\n    animation: sweep 3s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1400,"y":260,"wires":[["291e126bed41b839"]]},{"id":"987e960f8b66f833","type":"ui_template","z":"e192b617ac3e4aa3","group":"f019ca3911f49866","name":"Hướng dẫn","order":2,"width":3,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"fancy-btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Hướng dẫn'}})\">\n    Hướng dẫn\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://chattest.openai.com/mf/files/file-3kcjR1N1ByHr4XMGVFerUt/water-drop-89799.mp3\"\n  preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease, box-shadow 0.3s ease;\n    box-shadow: 0 0 6px rgba(0, 234, 255, 0.4), 0 0 12px rgba(0, 119, 255, 0.3);\n    /* Nhạt hơn */\n  }\n\n  .fancy-btn:hover {\n    transform: scale(0.8);\n    box-shadow: 0 0 10px rgba(0, 234, 255, 0.8), 0 0 18px rgba(0, 119, 255, 0.7);\n    /* Vẫn có hiệu ứng hover */\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -100%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.25);\n    transform: skewX(-20deg);\n    animation: sweep 2.5s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -100%;\n    }\n\n    100% {\n      left: 120%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1330,"y":340,"wires":[["291e126bed41b839"]]},{"id":"5380a63f968104fd","type":"ui_template","z":"e192b617ac3e4aa3","group":"00b9b02b83b979d7","name":"Quay lại","order":1,"width":3,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"fancy-btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Dashboard MakerSpace'}})\">\n    Quay lại\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://www.soundjay.com/water/sounds/water-droplet-1.mp3\" preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease;\n    box-shadow: 0 0 8px #00eaff80, 0 0 15px #0077ff80;\n  }\n\n  .fancy-btn:hover {\n    transform: scale(1.05);\n    box-shadow: 0 0 12px #00eaff, 0 0 22px #0077ff;\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.2);\n    transform: skewX(-25deg);\n    animation: sweep 3s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1500,"y":360,"wires":[["291e126bed41b839"]]},{"id":"4da5aa43224856a1","type":"ui_template","z":"e192b617ac3e4aa3","group":"00b9b02b83b979d7","name":"Hướng dẫn","order":2,"width":3,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"fancy-btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Hướng dẫn'}})\">\n    Hướng dẫn\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://chattest.openai.com/mf/files/file-3kcjR1N1ByHr4XMGVFerUt/water-drop-89799.mp3\"\n  preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease, box-shadow 0.3s ease;\n    box-shadow: 0 0 6px rgba(0, 234, 255, 0.4), 0 0 12px rgba(0, 119, 255, 0.3);\n    /* Nhạt hơn */\n  }\n\n  .fancy-btn:hover {\n    transform: scale(0.8);\n    box-shadow: 0 0 10px rgba(0, 234, 255, 0.8), 0 0 18px rgba(0, 119, 255, 0.7);\n    /* Vẫn có hiệu ứng hover */\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -100%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.25);\n    transform: skewX(-20deg);\n    animation: sweep 2.5s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -100%;\n    }\n\n    100% {\n      left: 120%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1530,"y":420,"wires":[["291e126bed41b839"]]},{"id":"5e77cbc39b88be9f","type":"debug","z":"e192b617ac3e4aa3","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2040,"y":240,"wires":[]},{"id":"467051176d6bbaf2","type":"debug","z":"e192b617ac3e4aa3","name":"Tab Selected Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1830,"y":600,"wires":[]},{"id":"68044bc9ea9949f2","type":"ui_button","z":"e192b617ac3e4aa3","name":"Chọn Người","group":"d8b24b19d4874671","order":1,"width":6,"height":1,"passthru":false,"label":"Chọn Người","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":2730,"y":340,"wires":[[]]},{"id":"dd40de2c0888be52","type":"inject","z":"e192b617ac3e4aa3","name":"Mở khóa tab thủ công","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"payload":"{\"tab\": \"Sinh viên 1\", \"result\": true}","payloadType":"json","x":2800,"y":420,"wires":[["d3770aef4bde3f7c"]]},{"id":"d3770aef4bde3f7c","type":"function","z":"e192b617ac3e4aa3","name":"Mở khóa nếu result true","func":"if (msg.payload.result === true && msg.payload.tab) {\n    flow.set(\"lockedTabs.\" + msg.payload.tab, false);\n    return null;\n}\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3070,"y":420,"wires":[[]]},{"id":"af6805df3f8e6f40","type":"inject","z":"e192b617ac3e4aa3","name":"Ping mỗi 7 phút","props":[],"repeat":"420","crontab":"","once":true,"onceDelay":"5","topic":"","payloadType":"date","x":2950,"y":320,"wires":[["7ee2e4759a571ef0"]]},{"id":"7ee2e4759a571ef0","type":"http request","z":"e192b617ac3e4aa3","name":"Ping đến chính app","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://node-red-on-render-pgsk.onrender.com/","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":3160,"y":320,"wires":[["9acc2ef28d2f2099"]]},{"id":"9acc2ef28d2f2099","type":"debug","z":"e192b617ac3e4aa3","name":"Kết quả ping","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3370,"y":320,"wires":[]},{"id":"1e20a940c4b66c25","type":"ui_template","z":"e192b617ac3e4aa3","group":"52c17a7636c487aa","name":"Bảo mật","order":3,"width":6,"height":1,"format":"<div class=\"fade-container\">\n  <md-button class=\"btn-full-width\" ng-click=\"playDropSound(); send({payload: {tab: 'Quản trị viên'}})\">\n    Quản trị viên\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://www.soundjay.com/water/sounds/water-droplet-1.mp3\" preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fade-container {\n    display: flex;\n    z-index: 0;\n    /* Giảm thấp xuống, hoặc thậm chí 0 */\n    position: relative;\n    justify-content: center;\n    margin-top: 2px;\n    animation: fadeIn 0.8s ease-out;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(12px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  .btn-full-width {\n    width: 90%;\n    height: 40px;\n    padding: 6px 12px;\n    font-size: 14px;\n    font-weight: 600;\n    color: white !important;\n    background: linear-gradient(135deg, #ff3b3f, #8b0000);\n    border: none;\n    border-radius: 12px;\n    cursor: pointer;\n    text-align: center;\n    transition: transform 0.2s ease, box-shadow 0.2s ease;\n    box-shadow: 0 0 6px #ff3b3f80, 0 0 12px #ff000080;\n    position: relative;\n    overflow: hidden;\n  }\n\n  .btn-full-width:hover {\n    transform: scale(0.98);\n    box-shadow: 0 0 10px #ff3b3f, 0 0 18px #ff0000;\n  }\n\n  .btn-full-width::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.2);\n    transform: skewX(-25deg);\n    animation: sweep 3s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1660,"y":40,"wires":[["291e126bed41b839"]]},{"id":"dc4e85bb7ab32e34","type":"ui_template","z":"e192b617ac3e4aa3","group":"","name":"Bảo mật","order":1,"width":6,"height":1,"format":"<div class=\"fade-container\">\n  <md-button class=\"btn-full-width\" ng-click=\"playDropSound(); send({payload: {tab: 'Quản trị viên'}})\">\n    Bảo mật\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://www.soundjay.com/water/sounds/water-droplet-1.mp3\" preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fade-container {\n    display: flex;\n    z-index: 0; /* Giảm thấp xuống, hoặc thậm chí 0 */\n    position: relative;\n    justify-content: center;\n    margin-top: 2px;\n    animation: fadeIn 0.8s ease-out;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(12px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  .btn-full-width {\n    width: 90%;\n    height: 40px;\n    padding: 6px 12px;\n    font-size: 14px;\n    font-weight: 600;\n    color: white !important;\n    background: linear-gradient(135deg, #ff3b3f, #8b0000);\n    border: none;\n    border-radius: 12px;\n    cursor: pointer;\n    text-align: center;\n    transition: transform 0.2s ease, box-shadow 0.2s ease;\n    box-shadow: 0 0 6px #ff3b3f80, 0 0 12px #ff000080;\n    position: relative;\n    overflow: hidden;\n  }\n\n  .btn-full-width:hover {\n    transform: scale(0.98);\n    box-shadow: 0 0 10px #ff3b3f, 0 0 18px #ff0000;\n  }\n\n  .btn-full-width::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.2);\n    transform: skewX(-25deg);\n    animation: sweep 3s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2240.515625,"y":45.75,"wires":[[]]},{"id":"272b6a68d0a462d9","type":"ui_template","z":"e192b617ac3e4aa3","group":"","name":"Sinh viên chưa đăng ký","order":2,"width":6,"height":1,"format":"<div class=\"fader\">\n  <md-button class=\"btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Chưa đăng ký'}})\">\n    BẬT ĐÈN NHANH (GIỚI HẠN)\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://www.soundjay.com/water/sounds/water-droplet-1.mp3\" preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n      const audio = document.getElementById('dropSound');\n      if (audio) {\n        audio.curreACntTime = 0;\n        audio.play();\n      }\n    }\n</script>\n\n<style>\n  .fader {\n    display: flex;\n    justify-content: center;\n    margin-top: 2px;\n    animation: fadeIn 0.8s ease-out;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(12px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  .btn {\n    width: 90%;\n    height: 40px;\n    padding: 6px 12px;\n    font-size: 16px;\n    font-weight: 600;\n    color: white !important;\n    background: linear-gradient(135deg, #adff2f, #006400);\n    border: none;\n    border-radius: 12px;\n    cursor: pointer;\n    text-align: center;\n    transition: transform 0.2s ease, box-shadow 0.2s ease;\n    box-shadow: 0 0 6px #adff2f80, 0 0 12px #00ff7f80;\n    position: relative;\n    overflow: hidden;\n  }\n\n  .btn:hover {\n    transform: scale(0.98);\n    box-shadow: 0 0 10px #adff2f, 0 0 18px #00ff7f;\n  }\n\n  .btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.2);\n    transform: skewX(-25deg);\n    animation: sweep 3s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2490,"y":140,"wires":[[]]},{"id":"eed714ccaacac8a4","type":"debug","z":"e192b617ac3e4aa3","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2380,"y":400,"wires":[]},{"id":"044a7b1520807017","type":"ui_template","z":"e192b617ac3e4aa3","group":"b2867a40455bc472","name":"Quay lại","order":1,"width":3,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"fancy-btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Dashboard MakerSpace'}})\">\n    Quay lại\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://www.soundjay.com/water/sounds/water-droplet-1.mp3\" preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease;\n    box-shadow: 0 0 8px #00eaff80, 0 0 15px #0077ff80;\n  }\n\n  .fancy-btn:hover {\n    transform: scale(1.05);\n    box-shadow: 0 0 12px #00eaff, 0 0 22px #0077ff;\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.2);\n    transform: skewX(-25deg);\n    animation: sweep 3s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1820,"y":140,"wires":[["1e20a940c4b66c25"]]},{"id":"a1874238bb04a9e7","type":"ui_template","z":"e192b617ac3e4aa3","group":"b2867a40455bc472","name":"Hướng dẫn","order":2,"width":3,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"fancy-btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Hướng dẫn'}})\">\n    Hướng dẫn\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://chattest.openai.com/mf/files/file-3kcjR1N1ByHr4XMGVFerUt/water-drop-89799.mp3\"\n  preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease, box-shadow 0.3s ease;\n    box-shadow: 0 0 6px rgba(0, 234, 255, 0.4), 0 0 12px rgba(0, 119, 255, 0.3);\n    /* Nhạt hơn */\n  }\n\n  .fancy-btn:hover {\n    transform: scale(0.8);\n    box-shadow: 0 0 10px rgba(0, 234, 255, 0.8), 0 0 18px rgba(0, 119, 255, 0.7);\n    /* Vẫn có hiệu ứng hover */\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -100%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.25);\n    transform: skewX(-20deg);\n    animation: sweep 2.5s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -100%;\n    }\n\n    100% {\n      left: 120%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2059,"y":28,"wires":[["1e20a940c4b66c25"]]},{"id":"6b1d17eaf2cbe63b","type":"function","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"Xử lý kết quả","func":"let isLocked = flow.get(\"login_locked\") || false;\n\n// Nếu đã nhận result3:true và đang trong thời gian lock => bỏ qua không xử lý\nif (isLocked) {\n    return [null, null];  // Bỏ qua mọi tin nhắn khác trong 3s\n}\n\n// Nếu đăng nhập thành công\nif (msg.payload.new_pass === true) {\n    msg.payload = \"Đổi thành công\";\n\n    // Đặt cờ khóa trong 3 giây\n    flow.set(\"login_locked\", true);\n    setTimeout(() => {\n        flow.set(\"login_locked\", false);\n    }, 3000);  // sau 3 giây thì mở khóa\n\n    return [msg, null];\n} else {\n    // Nếu sai, trả về thông báo sai thông tin\n    msg.payload = \"Thông tin sai\";\n    return [null, msg];\n}\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3110,"y":1700,"wires":[["ae5c83f296373a43","4e19d31f0d911834"],["0cd3ef560f0479fb","4e19d31f0d911834"]]},{"id":"ae5c83f296373a43","type":"ui_toast","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":true,"className":"","topic":"","name":"Thông báo thành công","x":3440,"y":1640,"wires":[]},{"id":"0cd3ef560f0479fb","type":"ui_toast","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":true,"className":"","topic":"","name":"Thông báo thất bại","x":3430,"y":1720,"wires":[]},{"id":"b6e255f04d0b43b9","type":"delay","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":3450,"y":1780,"wires":[["e610a11980296800"]]},{"id":"7dd6ea05e264c521","type":"change","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"},{"t":"set","p":"socketid","pt":"msg","to":"msg.socketid","tot":"msg","dc":true}],"x":3310,"y":1840,"wires":[["b6e255f04d0b43b9","df11d65fadb780ab"]]},{"id":"e610a11980296800","type":"change","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":3650,"y":1780,"wires":[["df11d65fadb780ab"]]},{"id":"df11d65fadb780ab","type":"ui_template","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","group":"945bd8bd6d743822","name":"Thông báo & Chuyển trang","order":13,"width":0,"height":0,"format":"<!-- Thông báo chuyển trang -->\n<div style=\"text-align:center; font-size:20px; color:green;\">\n  <p id=\"Login-msg\" style=\"display:none;\">✅ Đang chuyển trang...</p>\n</div>\n\n<!-- Lớp phủ mờ toàn trang -->\n<style>\n  .fade-out-body {\n    opacity: 1;\n    transition: opacity 1s ease;\n  }\n\n  .fade-out {\n    opacity: 0;\n  }\n</style>\n\n<script>\n  (function(scope) {\nscope.$watch('msg.payload', function(payload) {\nconst msgEl = document.getElementById('Login-msg');\n\n// ✅ Kiểm tra nếu có lệnh chuyển trang và đúng clientId\n      if (payload === 'redirect') {msgEl.style.display = 'block';\nsetTimeout(() => {\ndocument.body.classList.add('fade-out');\n}, 1200);\n\nsetTimeout(() => {\nwindow.location.href = \"https://render-node-red-uno2.onrender.com/ui/\";\n}, 2000);\n} else {\nmsgEl.style.display = 'none';\n}\n});\n\ndocument.body.classList.add('fade-out-body');\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":3900,"y":1780,"wires":[[]]},{"id":"5d385772424a164d","type":"function","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"function 9","func":"if (msg.payload && msg.payload.new_pass === true) {\n    node.warn(\"SOCKET ID: \" + msg.socketid);  // ✅ In ra Debug\n    return {\n        socketid: msg.socketid,\n        payload: {\n            notify: \"Đăng nhập thành công\",\n            allow: true\n        }\n    };\n} else {\n    node.warn(\"Đăng nhập sai hoặc không có socketid\");\n    return null;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3080,"y":1780,"wires":[["7dd6ea05e264c521","bcc90234f5cdb979"]]},{"id":"bcc90234f5cdb979","type":"function","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"reset","func":"let resetUsername = \"\"; // hoặc: { payload: \"\" }\nlet resetPassword = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"username\", \"\");\nflow.set(\"password\", \"\");\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [ [{ payload: resetUsername }, { payload: resetPassword }]];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3050,"y":1900,"wires":[[]]},{"id":"f482484a2fde0507","type":"mqtt out","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"MQTT Gửi token","topic":"token/check21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":3710,"y":1900,"wires":[]},{"id":"bbbbc3bab77d0cfd","type":"inject","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"Tạo token","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":3200,"y":1960,"wires":[["be37301669b86324"]]},{"id":"87c7b2ac41413509","type":"ui_template","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","group":"945bd8bd6d743822","name":"Title MakerSpace","order":3,"width":0,"height":0,"format":"<!-- Font đẹp -->\n<link href=\"https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap\" rel=\"stylesheet\">\n\n<style>\n.fade-in-text {\nbackground: linear-gradient(270deg, #00c3ff, #ff6ec4);\n-webkit-background-clip: text;\n-webkit-text-fill-color: transparent;\n}\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(20px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  @keyframes colorCycle {\n    0% {\n      background-position: 0% 50%;\n    }\n\n    50% {\n      background-position: 100% 50%;\n    }\n\n    100% {\n      background-position: 0% 50%;\n    }\n  }\n</style>\n\n<div class=\"fade-in-text\" style=\"\n  text-align: center;\n  font-size: 28px;\n  font-weight: bold;\n  font-family: 'Orbitron', sans-serif;\n  letter-spacing: 2px;\n  margin: 8px 0;\n\">\n  MAKERSPACE\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":3670,"y":2060,"wires":[[]]},{"id":"4e19d31f0d911834","type":"debug","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3100,"y":1500,"wires":[]},{"id":"be37301669b86324","type":"function","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"Tạo token và link","func":"const token = Math.random().toString(36).substring(2, 12);\nconst msgOut = {\n    payload: JSON.stringify({ token: token })\n};\n\n// Gửi token này tới Node-RED Điều khiển\nmsgOut.topic = \"token/check21146282\";\n\nreturn msgOut;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3450,"y":1900,"wires":[["f482484a2fde0507","c4d725ce8b59997d"]]},{"id":"c4d725ce8b59997d","type":"mqtt out","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"MQTT Gửi token","topic":"TOKEN_21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":3490,"y":1980,"wires":[]},{"id":"38d4ecd6971bb9cf","type":"ui_template","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","group":"945bd8bd6d743822","name":"Đăng nhập đã đăng kí","order":14,"width":0,"height":0,"format":"  <!-- Font Awesome -->\n  <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css\">\n\n  <style>\n    .popup-overlay {\n      position: fixed;\n      top: 0;\n      left: 0;\n      width: 100vw;\n      height: 100dvh;\n      \n      backdrop-filter: blur(0px);\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      z-index: 9999;\n      background-color: rgba(0, 0, 0, 0.4); /* nếu cần lớp nền mờ */\n\n    }\n\n    .popup-close {\n      position: absolute;\n      top: 12px;\n      right: 16px;\n      font-size: 20px;\n      color: #ccc;\n      cursor: pointer;\n      transition: color 0.2s ease;\n    }\n\n    .popup-close:hover {\n      color: white;\n    }\n\n    @keyframes fadeInUp {\n      0% {\n        opacity: 0;\n        transform: translateY(20px);\n      }\n\n      100% {\n        opacity: 1;\n        transform: translateY(0);\n      }\n    }\n\n    .fade-in {\n      animation: fadeInUp 0.8s ease-out forwards;\n      opacity: 0;\n    }\n\n  .login-box {\n  max-width: 320px;\n  width: 100%; /* 👈 Đảm bảo không vượt quá khung cha */\n  margin: 10px auto 40px;\n    margin-top: 26.3px; /* 👈 Thêm dòng này */\n  font-family: 'Segoe UI', sans-serif;\n  background: linear-gradient(145deg, #1a1a1a, #2c2c2c);\n  padding: 36px 24px;\n  border-radius: 18px;\n  box-shadow:\n  0 0 12px rgba(0, 255, 225, 0.25), /* viền neon ngoài */\n  0 0 4px rgba(0, 255, 255, 0.35) inset; /* viền bên trong nhẹ */\n  border: 1px solid rgba(0, 255, 255, 0.4); /* viền mỏng */\n  color: white;\n  box-sizing: border-box;\n  transition: box-shadow 0.3s ease;\n    }\n\n    .login-title {\n      font-size: 20px;\n      font-weight: bold;\n      background: #1f1f1f;\n      padding: 12px;\n      border-radius: 10px;\n      text-align: center;\n      margin-bottom: 20px;\n      text-shadow: 0 0 6px rgba(0, 255, 255, 0.4);\n    }\n\n    .input-group {\n      position: relative;\n      margin-bottom: 16px;\n    }\n\n    .input-group i {\n      position: absolute;\n      top: 50%;\n      left: 16px;\n      transform: translateY(-50%);\n      color: #00ffe1;\n      font-size: 16px;\n      pointer-events: none;\n      transition: opacity 0.3s ease;\n    }\n\n    .input-group.focused i,\n    .input-group.filled i {\n      opacity: 0;\n    }\n\n    .login-input {\n      width: 100%;\n      padding: 12px 16px 12px 46px;\n      font-size: 16px;\n      background: #2e2e2e;\n      color: #00ffe1;\n      border: none;\n      border-radius: 10px;\n      box-shadow: inset 0 0 6px rgba(0, 255, 225, 0.25);\n      outline: none;\n      transition: all 0.2s ease;\n      box-sizing: border-box;\n    }\n\n    .login-input::placeholder {\n      color: #88ffff;\n    }\n\n    .login-input:focus {\n      box-shadow: 0 0 10px #00ffe1;\n      transform: scale(1.03);\n      padding-left: 16px;\n    }\n\n    .login-btn {\n      width: 100%;\n      padding: 12px;\n      font-size: 16px;\n      font-weight: bold;\n      border: none;\n      border-radius: 10px;\n      background: linear-gradient(135deg, #00ffe1, #0055ff);\n      color: black;\n      cursor: pointer;\n      box-shadow: 0 0 12px #00ffe1, 0 0 24px #0055ff;\n      transition: all 0.3s ease;\n      box-sizing: border-box;\n    }\n\n    .login-btn:hover {\n      transform: scale(1.04);\n      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);\n    }\n\n.login-result {\nmargin-top: 16px;\nfont-size: 14px;\nfont-style: italic;\ntext-align: center;\ncolor: #00ffe1;\nmin-height: 24px;\n  word-wrap: break-word;\n  overflow-wrap: break-word;\n  white-space: normal;\n  max-width: 100%;\n}\n  </style>\n\n  <div class=\"popup-overlay\" id=\"login-popup\">\n    <div class=\"login-box fade-in\">\n<div class=\"popup-close\" id=\"close-btn\">\n  <i class=\"fas fa-times\"></i>\n</div>\n      <div class=\"login-title\"><i class=\"fa-solid fa-user\"></i>Đổi mật khẩu</div>\n\n      <div class=\"input-group\">\n        <i class=\"fa-solid fa-user\"></i>\n        <input id=\"username\" class=\"login-input\" type=\"text\" placeholder=\"Tên tài khoản\">\n      </div>\n\n      <div class=\"input-group\">\n        <i class=\"fa-solid fa-lock\"></i>\n        <input id=\"password\" class=\"login-input\" type=\"password\" placeholder=\"Mật khẩu mới\">\n      </div>\n\n      <button id=\"login-btn\" class=\"login-btn\"><i class=\"fa-solid fa-right-to-bracket\"></i> Đăng nhập</button>\n      <div id=\"login-result\" class=\"login-result\"></div>\n    </div>\n  </div>\n  <script>\n    (function(scope) {\n    const btn = document.getElementById(\"login-btn\");\n    const userInput = document.getElementById(\"username\");\n    const passInput = document.getElementById(\"password\");\n    const result = document.getElementById(\"login-result\");\n    const inputs = document.querySelectorAll('.login-input');\n\n    inputs.forEach(input => {\n      const group = input.closest('.input-group');\n      input.addEventListener('focus', () => group.classList.add('focused'));\n      input.addEventListener('blur', () => {\n        group.classList.remove('focused');\n        group.classList.remove('filled');\n      });\n    });\n\n    // Gửi 1 message đơn ra ngoài (Node-RED sẽ tự chèn socketid)\n    btn.onclick = () => {\n      const username = userInput.value.trim();\n      const password = passInput.value;\n\n      if (!username || !password) {\n        result.innerHTML = \"⚠️ Vui lòng nhập đầy đủ tài khoản và mật khẩu.\";\n        return;\n      }\nif (!username.endsWith(\"@hcmute.edu.vn\")) {\nresult.innerHTML = \"⚠️ Sai định dạng đuôi Email </b>.\";\nreturn;\n}\n      scope.send({\n        topic: \"user_login\",\n        payload: { username, new_pass: password }\n      });\n\n      result.innerHTML = `🔐 Đang gửi yêu cầu đăng nhập cho <b>${username}</b>...`;\n      passInput.value = \"\";\n      passInput.closest('.input-group').classList.remove('filled');\n    };\n    const closeBtn = document.getElementById(\"close-btn\");\n    closeBtn.onclick = () => {\n    scope.send({\n    topic: \"close_popup\",\n    payload: { tab: \"Dashboard MakerSpace\" }\n    });\n    };\n  })(scope);\n  </script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":3120,"y":1580,"wires":[["8bdd5178ba05ecfc"]]},{"id":"b7852c7980f88bd0","type":"change","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"redirect\",\"clientId\":\"\"}","tot":"json"},{"t":"set","p":"payload.clientId","pt":"msg","to":"clientId","tot":"flow"}],"x":3290,"y":1780,"wires":[["b6e255f04d0b43b9","df11d65fadb780ab"]]},{"id":"b93287fe97c1bed7","type":"function","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"Quyền","func":"if (flow.get(\"allow\") === true) {\n    return msg;\n} else {\n    node.warn(\"Không có quyền sử dụng\");\n    return null;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3770,"y":1540,"wires":[["ca31e271fc3e2b5f"]]},{"id":"e84ac62a98822524","type":"debug","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"debug 22","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3620,"y":1500,"wires":[]},{"id":"a0fe03b215b32e5e","type":"ui_ui_control","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"","events":"all","x":3640,"y":1660,"wires":[[]]},{"id":"8bdd5178ba05ecfc","type":"switch","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"Phân loại theo topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"close_popup","vt":"str"},{"t":"eq","v":"user_login","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":3410,"y":1580,"wires":[["a0fe03b215b32e5e"],["b93287fe97c1bed7","ca31e271fc3e2b5f"]]},{"id":"f2a44f2d8213a180","type":"mqtt out","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"CHECK","topic":"NEWOTP_CHECK21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dc6ec9528fd72a25","x":3940,"y":1600,"wires":[]},{"id":"6a834f025d0f43f1","type":"mqtt in","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"Receive from MQTT","topic":"NEWOTP_RESULT21146282","qos":"0","datatype":"auto-detect","broker":"dc6ec9528fd72a25","nl":false,"rap":false,"inputs":0,"x":2890,"y":1700,"wires":[["6b1d17eaf2cbe63b"]]},{"id":"ca31e271fc3e2b5f","type":"function","z":"e192b617ac3e4aa3","g":"c536333e5fd87426","name":"Quyền","func":"let tokenInfo = flow.get(\"auth_token\");\n\nif (tokenInfo && Date.now() <= tokenInfo.expires) {\n    // ✅ Token hợp lệ\n    node.warn(\"Token còn hạn: \" + tokenInfo.token);\n    return msg;\n} else {\n    // ❌ Token hết hạn hoặc không tồn tại\n    node.warn(\"Token hết hạn hoặc không tồn tại\");\n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3710,"y":1600,"wires":[["f2a44f2d8213a180"]]},{"id":"7024d0e91f71a6bd","type":"ui_template","z":"e192b617ac3e4aa3","group":"group_guides","name":"Hide Hamburger Menu","order":6,"width":0,"height":0,"format":"<style>\n  /* Ẩn hoàn toàn thanh tiêu đề Dashboard */\n  md-toolbar {\n    display: none !important;\n  }\n\n  /* Chỉnh font và màu cho tiêu đề group */\n  md-card md-toolbar .md-toolbar-tools span {\n    font-family: 'Poppins', sans-serif; /* Font hiện đại */\n    font-size: 20px;                    /* To hơn */\n    font-weight: 600;                   /* Đậm hơn */\n    color: #ffffff;                     /* Màu trắng */\n    text-transform: uppercase;          /* Viết hoa toàn bộ */\n    letter-spacing: 1px;                /* Giãn chữ nhẹ */\n  }\n\n\n<!-- Nhúng font Poppins từ Google Fonts -->\n<link href=\"https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap\" rel=\"stylesheet\">\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1980,"y":500,"wires":[[]]},{"id":"3fe46101e943c072","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"948792d3da95d5c2","order":3,"width":4,"height":1},{"id":"d8ae8284aecb6a1d","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"3b485d4287c492b1","order":3,"width":1,"height":1},{"id":"a14ae33bf1c107bb","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"30237616c99e1e2b","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"2aac315115d3f7fb","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"f0716238609a6fd6","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"group_info","order":2,"width":2,"height":1},{"id":"533b1de81bd60efd","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"group_info","order":4,"width":2,"height":1},{"id":"73e14d5e27e26b13","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"group_guides","order":2,"width":2,"height":1},{"id":"21cc7c5097801747","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"group_guides","order":4,"width":2,"height":1},{"id":"39bce8a17c711e25","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"f019ca3911f49866","order":5,"width":6,"height":1},{"id":"df05e2c557b1f6c2","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"f019ca3911f49866","order":6,"width":6,"height":1},{"id":"cce50bbd97e8163a","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"f019ca3911f49866","order":7,"width":6,"height":1},{"id":"e91719de8a956763","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"f019ca3911f49866","order":8,"width":6,"height":1},{"id":"e3e142d23a661939","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"f019ca3911f49866","order":9,"width":6,"height":1},{"id":"1ae8bd581d75cdff","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"00b9b02b83b979d7","order":5,"width":6,"height":1},{"id":"6b3bfa34c6df79ab","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"00b9b02b83b979d7","order":6,"width":6,"height":1},{"id":"7f93a9a3a2e6ef3e","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"00b9b02b83b979d7","order":7,"width":6,"height":1},{"id":"c53b0fd339cea552","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"00b9b02b83b979d7","order":8,"width":6,"height":1},{"id":"bd73de9cbfcd6743","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"00b9b02b83b979d7","order":9,"width":6,"height":1},{"id":"6fa7470ba79c7ffe","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"b2867a40455bc472","order":6,"width":6,"height":1},{"id":"a24aa8d64bf18f30","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"b2867a40455bc472","order":8,"width":6,"height":1},{"id":"e94ac8c26f5a20c2","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"b2867a40455bc472","order":9,"width":6,"height":1},{"id":"78363ef9a9d69732","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"b2867a40455bc472","order":10,"width":6,"height":1},{"id":"c8dc9f2604f56fd3","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"b2867a40455bc472","order":11,"width":6,"height":1},{"id":"72de149cbd766b0e","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"aaa0beb438579067","order":2,"width":2,"height":1},{"id":"16c88cb9624af245","type":"ui_spacer","z":"e192b617ac3e4aa3","name":"spacer","group":"aaa0beb438579067","order":4,"width":2,"height":1},{"id":"bc890b17fb36f5ca","type":"ui_group","name":"HỆ THỐNG ĐIỀU KHIỂN THIẾT BỊ","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":"<span style=\"font-size:18px; color:#4caf50;\"><i class=\"fa fa-plug\"></i> Thiết bị</span>"},{"id":"52c17a7636c487aa","type":"ui_group","name":"Bật đèn nhanh tại đây ⬇️","tab":"","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"aaa0beb438579067","type":"ui_group","name":"Hướng dẫn","tab":"0accd27e7743a85b","order":1,"disp":true,"width":7,"collapse":false,"className":""},{"id":"group_info","type":"ui_group","name":"GIỚI THIỆU VỀ MAKERSPACE","tab":"","order":1,"disp":true,"width":"7","collapse":false,"className":""},{"id":"37fcf5bfccf8b220","type":"mqtt-broker","name":"APP","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"061d34e475bc0b4d","type":"ui_group","name":"Liên hệ admin đăng kí tài khoản","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"918d35a5629175cc","type":"ui_group","name":"Liên hệ admin đăng kí tài khoản","tab":"","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"group_guides","type":"ui_group","name":"Hướng dẫn MakerSpace","tab":"","order":1,"disp":true,"width":7,"collapse":false},{"id":"f019ca3911f49866","type":"ui_group","name":"Liên hệ admin đăng kí tài khoản","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"00b9b02b83b979d7","type":"ui_group","name":"Vui lòng thoát sau khi sử dụng","tab":"","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"d8b24b19d4874671","type":"ui_group","name":"Giao diện chính","tab":"","order":1,"disp":true,"width":6},{"id":"b2867a40455bc472","type":"ui_group","name":"Liên hệ admin đăng kí tài khoản","tab":"","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"945bd8bd6d743822","type":"ui_group","name":"Nhập tài khoản và mật khẩu mới","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"dc6ec9528fd72a25","type":"mqtt-broker","name":"HIVEMQ","broker":"c72907f49eda47f5959d51346e25e4c8.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0accd27e7743a85b","type":"ui_tab","name":"Hướng dẫn","icon":"Hướng dẫn","order":1,"disabled":false,"hidden":false}]
