flows.json
[{"id":"0102ef3a5e2d0b80","type":"tab","label":"フロー 1","disabled":false,"info":"","env":[]},{"id":"e0cb796ea9427a1b","type":"group","z":"0102ef3a5e2d0b80","name":"Chưa đăng kí","style":{"fill":"#ffC000","label":true},"nodes":["9064f46bd4f62e9d","4488a51ccf06b8ca","f17f983a3ce1e6cc","d7ace6fbbec79b9a","3d078241aa5cce96","c03a37cbb0646208","7ff3c1136975f81c","c7a6e3b24be64cde","bbbc7a06eaa6ad10","2066aa55970c8106","9af5c8297cba9a10","01076c13ed6e8ca7","2249df88f25c7837","260df5bc51bf776f","d6c3edd5f9dd34af","ff39e877edcd3815","b2f0fdde.88e3a","c6041de3b6de5586","8d9f62cc9964fc4f","521aad049e2dd1f5","modern_ui_input_button","3d66c3ba035d4d42","07267383bb8c2fde","2831046eec66a798","e9cfa39dc0541e84","0b39586c86bd7f31","16ceeda0e43b49d2","a9d0e1fe3395bbea","0d56fe0a123fe9f3","27496b907f4d1829","245d57a70f155957"],"x":-26,"y":-1,"w":1252,"h":702},{"id":"9451318c6d2f95b6","type":"group","z":"0102ef3a5e2d0b80","name":"SINH vien đã đăng kí","style":{"fill":"#ffff3f","label":true},"nodes":["a08f561428aa8ec3","b793917942f71af8","aff5ca46ba764d3e","6d79b3ec70810a12","d851f5cb7e1f7226","842541d803cb758b","mqtt_in_result","handle_login_result","notify_success","notify_fail","566cb83d63cb1aa2","9781a4bc3540d3cf","8244ca1478a3bf81","5d2b2ef1ac98b964","ec01bfb4aba30f8a","59f9e958373e0f97","e93d18b3449690a3","f1a1df28f6b1c2bd","b57e5efed243d62b","e1d5dc5826d99e93","722549bde1a36cd1","525bc9540d11805f","0556f9b88f7484ae","1a9b56a5406f1d3a","7eeaf44907bbc580"],"x":74,"y":1039,"w":1072,"h":762},{"id":"a1f028b2667a401b","type":"group","z":"0102ef3a5e2d0b80","name":"ADMiN đã đăng kí","style":{"fill":"#ff7f7f","label":true,"color":"#000000"},"nodes":["d2bd2b35fcdf503a","50e5266408a28898","be30d63ec42e195e","43a93e27c2bf14a5","395690aa794f5bd6","a5518405456461ef","f24de410c79d5d0a","4f2ee882cf9cbab3","2d7823eed9aed7f6","da810c362c7e90cd","1bcb98a0f858e603","2e0696bfc4ac3e5e","6188be591688a12b","f22c8b5d65db8efc","0ea8a3deb20b6326","9ac3281e9acefc33","db6580a6968a2726","d5c68c41945e0370","977e66cab3ba80e0","2219180904c2addc","b3a4cdf2b558ec81","43cefc94737d71d4","b251841187244210","ed0e897d441cdb4f","d209fc5d0802cf26","a06f42867b69e7e9","b39dcb3838c260ba","6d82f1bce23c3f75","cb6d8a71da125ee8"],"x":1354,"y":559,"w":1072,"h":782},{"id":"ee2daf0403a325bc","type":"ui_ui_control","z":"0102ef3a5e2d0b80","name":"","events":"all","x":1700,"y":160,"wires":[[]]},{"id":"9064f46bd4f62e9d","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Lưu vào flow","rules":[{"t":"set","p":"device_num","pt":"flow","to":"payload","tot":"msg"}],"x":400,"y":60,"wires":[[]]},{"id":"4488a51ccf06b8ca","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Nhập đèn bật","func":"let device = flow.get(\"device_num\") || 1;\nlet hour = flow.get(\"hour_val\") || 1;\n\nmsg.payload = {\n    device: device,\n    Hour: hour\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":120,"wires":[["f17f983a3ce1e6cc","d7ace6fbbec79b9a","2249df88f25c7837","260df5bc51bf776f","c6041de3b6de5586"]]},{"id":"f17f983a3ce1e6cc","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"set","topic":"APP_ON21146282","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":630,"y":40,"wires":[]},{"id":"d7ace6fbbec79b9a","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":770,"y":140,"wires":[["3d078241aa5cce96","9af5c8297cba9a10"]]},{"id":"3d078241aa5cce96","type":"delay","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":850,"y":40,"wires":[["c03a37cbb0646208"]]},{"id":"c03a37cbb0646208","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":1030,"y":120,"wires":[["9af5c8297cba9a10"]]},{"id":"7ff3c1136975f81c","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Lưu vào flow","rules":[{"t":"set","p":"device_num","pt":"flow","to":"payload","tot":"msg"}],"x":410,"y":260,"wires":[[]]},{"id":"c7a6e3b24be64cde","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Nhập đèn tắt","func":"let device = flow.get(\"device_num\") || 1;\n\n\nmsg.payload = {\n    device: device,\n    trigger: true\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":320,"wires":[["bbbc7a06eaa6ad10","2066aa55970c8106","2249df88f25c7837","d6c3edd5f9dd34af","c6041de3b6de5586"]]},{"id":"bbbc7a06eaa6ad10","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"OFF_GUEST","topic":"APP_OFF21146282","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":600,"y":380,"wires":[]},{"id":"2066aa55970c8106","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":630,"y":300,"wires":[["9af5c8297cba9a10","01076c13ed6e8ca7"]]},{"id":"9af5c8297cba9a10","type":"ui_template","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","group":"918d35a5629175cc","name":"Thông báo & Chuyển trang","order":5,"width":6,"height":1,"format":"<style>\n    .fadeout {\n        animation: fadeOutPage 1s forwards;\n    }\n\n    @keyframes fadeOutPage {\n        to {\n            opacity: 0;\n            transform: scale(1.02);\n        }\n    }\n</style>\n\n<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Login-msg\" style=\"display:none;\">✅ Đang chuyển trang...</p>\n</div>\n\n<script>\n    (function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n      const loginMsg = document.getElementById('Login-msg');\n      if (payload === 'redirect') {\n        loginMsg.style.display = 'block';\n\n        // Thêm hiệu ứng fadeout cho toàn trang\n        document.body.classList.add('fadeout');\n\n        setTimeout(() => {\n          window.location.href = \"https://node-red-on-render-pgsk.onrender.com/ui\";\n        }, 1000); // khớp thời gian hiệu ứng\n      } else {\n        loginMsg.style.display = 'none';\n      }\n    });\n  })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":1020,"y":220,"wires":[[]]},{"id":"01076c13ed6e8ca7","type":"delay","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":830,"y":300,"wires":[["ff39e877edcd3815"]]},{"id":"2249df88f25c7837","type":"ui_toast","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":true,"className":"","topic":"Điều khiển thành công","name":"Thông báo thành công","x":660,"y":220,"wires":[]},{"id":"a08f561428aa8ec3","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"username","label":"Tài khoản","tooltip":"","group":"f08cb50a5c0eb83d","order":1,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"username","sendOnBlur":true,"className":"","topicType":"str","x":180,"y":1080,"wires":[["6d79b3ec70810a12"]]},{"id":"b793917942f71af8","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"password","label":"Mật khẩu","tooltip":"","group":"f08cb50a5c0eb83d","order":2,"width":6,"height":1,"passthru":true,"mode":"password","delay":"0","topic":"password","sendOnBlur":true,"className":"","topicType":"str","x":180,"y":1130,"wires":[["6d79b3ec70810a12"]]},{"id":"aff5ca46ba764d3e","type":"ui_button","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"login","group":"f08cb50a5c0eb83d","order":3,"width":6,"height":1,"passthru":false,"label":"Đăng nhập","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":190,"y":1200,"wires":[["d851f5cb7e1f7226"]]},{"id":"6d79b3ec70810a12","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Lưu user/pass","func":"flow.set(msg.topic, msg.payload);\nreturn null;","outputs":0,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1110,"wires":[]},{"id":"d851f5cb7e1f7226","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Gửi MQTT user_login","func":"var username = flow.get(\"username\") || \"\";\nvar password = flow.get(\"password\") || \"\";\n\nreturn {\n    topic: \"user_login\",\n    payload: {\n        username: username,\n        password: password\n    }\n};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1180,"wires":[["842541d803cb758b"]]},{"id":"842541d803cb758b","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Đăng nhập MQTT","topic":"USER_LOGIN21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":690,"y":1180,"wires":[]},{"id":"mqtt_in_result","type":"mqtt in","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"MQTT Nhận kết quả","topic":"LOGIN_RESULT21146282","qos":"0","datatype":"json","broker":"37fcf5bfccf8b220","nl":false,"rap":false,"inputs":0,"x":190,"y":1360,"wires":[["handle_login_result","ec01bfb4aba30f8a","0556f9b88f7484ae"]]},{"id":"handle_login_result","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Xử lý kết quả","func":"if (msg.payload.result === true) {\n    msg.payload = \"Đăng nhập thành công\";\n    \n    return [msg, null];\n} else {\n    msg.payload = \"Sai tài khoản hoặc mật khẩu!\";\n    return [null, msg];\n}","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1360,"wires":[["notify_success"],["notify_fail"]]},{"id":"notify_success","type":"ui_toast","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":true,"className":"","topic":"","name":"Thông báo thành công","x":630,"y":1280,"wires":[]},{"id":"notify_fail","type":"ui_toast","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":true,"className":"","topic":"","name":"Thông báo thất bại","x":620,"y":1400,"wires":[]},{"id":"566cb83d63cb1aa2","type":"delay","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":750,"y":1500,"wires":[["8244ca1478a3bf81"]]},{"id":"9781a4bc3540d3cf","type":"change","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":550,"y":1480,"wires":[["566cb83d63cb1aa2","5d2b2ef1ac98b964"]]},{"id":"8244ca1478a3bf81","type":"change","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":870,"y":1440,"wires":[["5d2b2ef1ac98b964"]]},{"id":"5d2b2ef1ac98b964","type":"ui_template","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","group":"f08cb50a5c0eb83d","name":"Thông báo & Chuyển trang","order":4,"width":0,"height":0,"format":"<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Login-msg\" style=\"display:none;\">✅ Đang chuyển trang...</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Login-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://render-node-red-uno2.onrender.com/ui/\";\n            }, 2000);\n        } else {\n            document.getElementById('Login-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":1000,"y":1520,"wires":[[]]},{"id":"ec01bfb4aba30f8a","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"function 1","func":"if (msg.payload.result === true) {\n    msg.payload = \"Tắt đèn thành công\";\n    return [msg, null];  // tiếp tục luồng xử lý (output 1)\n} else {\n    msg.payload = \"Sai tài khoản hoặc mật khẩu!\";\n    return [null, msg];  // kết thúc hoặc báo lỗi (output 2)\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1460,"wires":[["9781a4bc3540d3cf","59f9e958373e0f97","1a9b56a5406f1d3a"]]},{"id":"59f9e958373e0f97","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"reset","func":"let resetUsername = \"\"; // hoặc: { payload: \"\" }\nlet resetPassword = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"username\", \"\");\nflow.set(\"password\", \"\");\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [ [{ payload: resetUsername }, { payload: resetPassword }]];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1520,"wires":[["a08f561428aa8ec3","b793917942f71af8"]]},{"id":"e93d18b3449690a3","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"MQTT Gửi token","topic":"token/check21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":990,"y":1580,"wires":[]},{"id":"f1a1df28f6b1c2bd","type":"inject","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Tạo token","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":500,"y":1640,"wires":[["1a9b56a5406f1d3a"]]},{"id":"d2bd2b35fcdf503a","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Email","label":"Email","tooltip":"","group":"7382439799ec2cdd","order":1,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"email","sendOnBlur":true,"className":"","topicType":"str","x":1450,"y":600,"wires":[["43a93e27c2bf14a5"]]},{"id":"50e5266408a28898","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"password","label":"Mật khẩu","tooltip":"","group":"7382439799ec2cdd","order":2,"width":6,"height":1,"passthru":true,"mode":"password","delay":"0","topic":"password","sendOnBlur":true,"className":"","topicType":"str","x":1460,"y":650,"wires":[["43a93e27c2bf14a5"]]},{"id":"be30d63ec42e195e","type":"ui_button","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"login","group":"7382439799ec2cdd","order":3,"width":6,"height":1,"passthru":false,"label":"Đăng nhập","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":1470,"y":720,"wires":[["395690aa794f5bd6"]]},{"id":"43a93e27c2bf14a5","type":"function","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Lưu user/pass","func":"flow.set(msg.topic, msg.payload);\nreturn null;","outputs":0,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":630,"wires":[]},{"id":"395690aa794f5bd6","type":"function","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Gửi MQTT user_login","func":"var email = flow.get(\"email\") || \"\";\nvar password = flow.get(\"password\") || \"\";\n\nreturn {\n    topic: \"user_login\",\n    payload: {\n        email: email,\n        password: password\n    }\n};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":700,"wires":[["a5518405456461ef"]]},{"id":"a5518405456461ef","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Đăng nhập MQTT","topic":"ADMIN_LOGIN21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":1930,"y":700,"wires":[]},{"id":"f24de410c79d5d0a","type":"mqtt in","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"MQTT Nhận kết quả","topic":"ADMIN_RESULT21146282","qos":"0","datatype":"json","broker":"37fcf5bfccf8b220","nl":false,"rap":false,"inputs":0,"x":1470,"y":880,"wires":[["4f2ee882cf9cbab3","0ea8a3deb20b6326"]]},{"id":"4f2ee882cf9cbab3","type":"function","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Xử lý kết quả","func":"if (msg.payload.result3 === true) {\n    msg.payload = \"Đăng nhập thành công\";\n    \n    return [msg, null];\n} else {\n    msg.payload = \"Sai tài khoản hoặc mật khẩu!\";\n    return [null, msg];\n}","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":880,"wires":[["2d7823eed9aed7f6"],["da810c362c7e90cd"]]},{"id":"2d7823eed9aed7f6","type":"ui_toast","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":true,"className":"","topic":"","name":"Thông báo thành công","x":1910,"y":800,"wires":[]},{"id":"da810c362c7e90cd","type":"ui_toast","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":true,"className":"","topic":"","name":"Thông báo thất bại","x":1900,"y":920,"wires":[]},{"id":"1bcb98a0f858e603","type":"delay","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":1970,"y":1020,"wires":[["6188be591688a12b"]]},{"id":"2e0696bfc4ac3e5e","type":"change","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":1810,"y":1000,"wires":[["1bcb98a0f858e603","f22c8b5d65db8efc"]]},{"id":"6188be591688a12b","type":"change","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":2170,"y":920,"wires":[["f22c8b5d65db8efc"]]},{"id":"f22c8b5d65db8efc","type":"ui_template","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","group":"7382439799ec2cdd","name":"Thông báo & Chuyển trang","order":4,"width":0,"height":0,"format":"<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Login-msg\" style=\"display:none;\">✅ Đang chuyển trang...! </p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Login-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://node-red-admin.onrender.com/ui/\";\n            }, 3000);\n        } else {\n            document.getElementById('Login-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":2220,"y":1000,"wires":[[]]},{"id":"0ea8a3deb20b6326","type":"function","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"function 2","func":"if (msg.payload.result3 === true) {\n    msg.payload = \"Tắt đèn thành công\";\n    return [msg, null];  // tiếp tục luồng xử lý (output 1)\n} else {\n    msg.payload = \"Sai tài khoản hoặc mật khẩu!\";\n    return [null, msg];  // kết thúc hoặc báo lỗi (output 2)\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":980,"wires":[["2e0696bfc4ac3e5e","9ac3281e9acefc33","977e66cab3ba80e0"]]},{"id":"9ac3281e9acefc33","type":"function","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"reset","func":"let resetEmail = \"\"; // hoặc: { payload: \"\" }\nlet resetPassword = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"email\", \"\");\nflow.set(\"password\", \"\");\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [ [{ payload: resetEmail }, { payload: resetPassword }]];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":1040,"wires":[["d2bd2b35fcdf503a","50e5266408a28898"]]},{"id":"db6580a6968a2726","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"MQTT Gửi token","topic":"admin/check21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":2290,"y":1120,"wires":[]},{"id":"d5c68c41945e0370","type":"inject","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Tạo token","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1840,"y":1100,"wires":[["977e66cab3ba80e0"]]},{"id":"977e66cab3ba80e0","type":"function","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Tạo token và link","func":"const token = Math.random().toString(36).substring(2, 12);\nconst msgOut = {\n    payload: JSON.stringify({ token: token })\n};\n\n// Gửi token này tới Node-RED Điều khiển\n\n\nreturn msgOut;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2050,"y":1120,"wires":[["db6580a6968a2726","cb6d8a71da125ee8"]]},{"id":"c1f2b08988e0e9c7","type":"inject","z":"0102ef3a5e2d0b80","name":"Lặp mỗi giây","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":"0.1","topic":"","x":2340,"y":260,"wires":[["71e2085d73dddf3e"]]},{"id":"71e2085d73dddf3e","type":"function","z":"0102ef3a5e2d0b80","name":"Lấy giờ Việt Nam","func":"let now = new Date();\n\n// Cộng thêm 7 tiếng để ra giờ Việt Nam\nnow.setHours(now.getHours() + 7);\n\nlet gio = now.getHours().toString().padStart(2, '0');\nlet phut = now.getMinutes().toString().padStart(2, '0');\nlet giay = now.getSeconds().toString().padStart(2, '0');\n\nlet ngay = now.getDate().toString().padStart(2, '0');\nlet thang = (now.getMonth() + 1).toString().padStart(2, '0');\nlet nam = now.getFullYear();\n\nmsg.payload = `🕒 ${gio}:${phut}:${giay} | 📅 ${ngay}/${thang}/${nam}`;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2530,"y":260,"wires":[["e9b4d6cd28ed2cb2"]]},{"id":"e9b4d6cd28ed2cb2","type":"ui_text","z":"0102ef3a5e2d0b80","group":"bc890b17fb36f5ca","order":6,"width":6,"height":1,"name":"Hiển thị thời gian","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":2730,"y":260,"wires":[]},{"id":"inject_temp","type":"inject","z":"0102ef3a5e2d0b80","name":"Giả lập nhiệt độ","props":[],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payloadType":"date","x":2970,"y":100,"wires":[["fake_temp"]]},{"id":"fake_temp","type":"function","z":"0102ef3a5e2d0b80","name":"Nhiệt độ ngẫu nhiên","func":"let month = new Date().getMonth() + 1; // Tháng 1–12 \n\nlet baseTemp;\nswitch (month) {\n    case 1: case 2: case 12:\n        baseTemp = 27; // mùa \"mát\"\n        break;\n    case 3: case 4: case 5:\n        baseTemp = 29; // mùa nắng đỉnh điểm\n        break;\n    case 6: case 7: case 8: case 9: case 10: case 11:\n        baseTemp = 28; // mùa mưa\n        break;\n    default:\n        baseTemp = 28;\n}\n\nlet temp = (Math.random() * 1.5 + baseTemp).toFixed(1);\n\nmsg.payload = `🌡️ Nhiệt độ: ${temp} °C – 🏙️ TP.HCM`;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3200,"y":100,"wires":[["ui_temp"]]},{"id":"1a6c404d8fcd4b3e","type":"ui_template","z":"0102ef3a5e2d0b80","group":"bc890b17fb36f5ca","name":"Title MakerSpace","order":2,"width":0,"height":0,"format":"<!-- Font đẹp -->\n<link href=\"https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap\" rel=\"stylesheet\">\n\n<style>\n  .fade-in-text {\n    opacity: 0;\n    animation: fadeIn 1s ease-out forwards;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(20px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n</style>\n\n<div class=\"fade-in-text\" style=\"\n  text-align: center;\n  font-size: 28px;\n  font-weight: bold;\n  font-family: 'Orbitron', sans-serif;\n  color: #00c3ff;\n  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);\n  letter-spacing: 2px;\n  margin: 8px 0;\n\">\n  MAKERSPACE\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2150,"y":360,"wires":[[]]},{"id":"f0a1a1e1abcd1234","type":"ui_template","z":"0102ef3a5e2d0b80","group":"52c17a7636c487aa","name":"Địa chỉ trường trang trí đẹp","order":4,"width":6,"height":2,"format":"<!-- Font và Icon hiện đại -->\n<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap\" rel=\"stylesheet\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css\">\n\n<!-- Địa chỉ có hiệu ứng fade-in -->\n<div class=\"fade-in-box\" style=\"\n  display: flex;\n  align-items: center;\n  gap: 10px;\n  padding: 10px 16px;\n  background: #f0f4ffcc;\n  backdrop-filter: blur(4px);\n  border-radius: 10px;\n  border-left: 4px solid #3f8efc;\n  font-family: 'Inter', sans-serif;\n  font-size: 16px;\n  color: #2d3a4b;\n  max-width: 460px;\n  margin: 16px auto;\n  box-shadow: 0 4px 12px rgba(0,0,0,0.04);\n\">\n  <i class=\"fas fa-location-dot\" style=\"\n    background: linear-gradient(135deg, #3f8efc, #00c6ff);\n    -webkit-background-clip: text;\n    -webkit-text-fill-color: transparent;\n    font-size: 18px;\"></i>\n  <span>1 Võ Văn Ngân, P. Thủ Đức, TP. Hồ Chí Minh</span>\n</div>\n\n<style>\n  .fade-in-box {\n    opacity: 0;\n    transform: translateY(20px);\n    animation: fadeInUp 0.8s ease-out forwards;\n  }\n\n  @keyframes fadeInUp {\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":2300,"y":100,"wires":[[]]},{"id":"a1649895374530e8","type":"ui_template","z":"0102ef3a5e2d0b80","group":"bc890b17fb36f5ca","name":"Tên trường","order":1,"width":6,"height":2,"format":"<!-- Font hiện đại -->\n<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap\" rel=\"stylesheet\">\n\n<style>\n  .school-banner {\n    padding: 16px 24px;\n    margin: 16px auto;\n    background: linear-gradient(135deg, #e3f2fd, #bbdefb);\n    border-left: 6px solid #2196f3;\n    border-radius: 12px;\n    font-family: 'Inter', sans-serif;\n    font-size: 18px;\n    font-weight: 600;\n    color: #0d47a1;\n    max-width: 600px;\n    text-align: center;\n    box-shadow: 0 6px 16px rgba(33, 150, 243, 0.15);\n\n    /* Fade-in animation */\n    opacity: 0;\n    animation: fadeIn 1s ease-out forwards;\n    transition: transform 0.3s ease, box-shadow 0.3s ease;\n  }\n\n  .school-banner:hover {\n    transform: translateY(-3px);\n    box-shadow: 0 10px 20px rgba(33, 150, 243, 0.25);\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(20px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n</style>\n\n<div class=\"school-banner\">\n  🎓 Trường Đại Học Sư Phạm Kỹ Thuật TP.HCM\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":2710,"y":100,"wires":[[]]},{"id":"ui_temp","type":"ui_text","z":"0102ef3a5e2d0b80","group":"bc890b17fb36f5ca","order":5,"width":6,"height":1,"name":"Nhiệt độ hiện tại","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":3440,"y":100,"wires":[]},{"id":"2219180904c2addc","type":"ui_button","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Gửi MQTT","group":"00b9b02b83b979d7","order":1,"width":3,"height":1,"passthru":false,"label":"Thoát","tooltip":"","color":"","bgcolor":"","className":"","icon":"send","payload":"","payloadType":"str","topic":"","topicType":"str","x":1490,"y":1180,"wires":[["b3a4cdf2b558ec81"]]},{"id":"b3a4cdf2b558ec81","type":"change","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":1690,"y":1160,"wires":[["b251841187244210","ed0e897d441cdb4f"]]},{"id":"43cefc94737d71d4","type":"change","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":1860,"y":1240,"wires":[["ed0e897d441cdb4f"]]},{"id":"b251841187244210","type":"delay","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":1930,"y":1180,"wires":[["43cefc94737d71d4"]]},{"id":"ed0e897d441cdb4f","type":"ui_template","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","group":"7382439799ec2cdd","name":"Thông báo & Chuyển trang","order":8,"width":0,"height":0,"format":"<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Change-msg\" style=\"display:none;\">✅ Đang chuyển trang...</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Change-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://cisat.hcmute.edu.vn/\";\n            }, 2000);\n        } else {\n            document.getElementById('Change-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":2160,"y":1220,"wires":[[]]},{"id":"d209fc5d0802cf26","type":"ui_template","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","group":"00b9b02b83b979d7","name":"Title MakerSpace","order":4,"width":0,"height":0,"format":"<div style=\"text-align: center; font-size: 24px; font-weight: bold; color: #007bff;\">\n  Quản trị viên\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2310,"y":1260,"wires":[[]]},{"id":"b57e5efed243d62b","type":"ui_template","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","group":"f019ca3911f49866","name":"Title MakerSpace","order":4,"width":0,"height":0,"format":"<div style=\"text-align: center; font-size: 24px; font-weight: bold; color: #007bff;\">\n  Sinh viên - Giảng viên\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":990,"y":1720,"wires":[[]]},{"id":"a06f42867b69e7e9","type":"inject","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Lặp mỗi giây","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":"0.1","topic":"","x":1640,"y":1300,"wires":[["b39dcb3838c260ba"]]},{"id":"b39dcb3838c260ba","type":"function","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Lấy giờ Việt Nam","func":"let now = new Date();\n\n// Cộng thêm 7 tiếng để ra giờ Việt Nam\nnow.setHours(now.getHours() + 7);\n\nlet gio = now.getHours().toString().padStart(2, '0');\nlet phut = now.getMinutes().toString().padStart(2, '0');\nlet giay = now.getSeconds().toString().padStart(2, '0');\n\nlet ngay = now.getDate().toString().padStart(2, '0');\nlet thang = (now.getMonth() + 1).toString().padStart(2, '0');\nlet nam = now.getFullYear();\n\nmsg.payload = `🕒 ${gio}:${phut}:${giay} | 📅 ${ngay}/${thang}/${nam}`;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1830,"y":1300,"wires":[["6d82f1bce23c3f75"]]},{"id":"6d82f1bce23c3f75","type":"ui_text","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","group":"00b9b02b83b979d7","order":3,"width":6,"height":1,"name":"Hiển thị thời gian","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":2030,"y":1300,"wires":[]},{"id":"e1d5dc5826d99e93","type":"inject","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Lặp mỗi giây","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":"0.1","topic":"","x":280,"y":1760,"wires":[["722549bde1a36cd1"]]},{"id":"722549bde1a36cd1","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Lấy giờ Việt Nam","func":"let now = new Date();\n\n// Cộng thêm 7 tiếng để ra giờ Việt Nam\nnow.setHours(now.getHours() + 7);\n\nlet gio = now.getHours().toString().padStart(2, '0');\nlet phut = now.getMinutes().toString().padStart(2, '0');\nlet giay = now.getSeconds().toString().padStart(2, '0');\n\nlet ngay = now.getDate().toString().padStart(2, '0');\nlet thang = (now.getMonth() + 1).toString().padStart(2, '0');\nlet nam = now.getFullYear();\n\nmsg.payload = `🕒 ${gio}:${phut}:${giay} | 📅 ${ngay}/${thang}/${nam}`;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1760,"wires":[["525bc9540d11805f"]]},{"id":"525bc9540d11805f","type":"ui_text","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","group":"f019ca3911f49866","order":3,"width":6,"height":1,"name":"Hiển thị thời gian","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":670,"y":1760,"wires":[]},{"id":"0556f9b88f7484ae","type":"debug","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":1280,"wires":[]},{"id":"97821d52b34a43c1","type":"ui_button","z":"0102ef3a5e2d0b80","name":"","group":"f019ca3911f49866","order":1,"width":3,"height":1,"passthru":false,"label":"Quay lại","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Dashboard MakerSpace\"}","payloadType":"json","topic":"","topicType":"str","x":1480,"y":240,"wires":[["ee2daf0403a325bc"]]},{"id":"bf26a824d4fe9a56","type":"ui_button","z":"0102ef3a5e2d0b80","name":"","group":"00b9b02b83b979d7","order":2,"width":3,"height":1,"passthru":false,"label":"Quay lại","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Dashboard MakerSpace\"}","payloadType":"json","topic":"","topicType":"str","x":1680,"y":60,"wires":[["ee2daf0403a325bc"]]},{"id":"260df5bc51bf776f","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"reset","func":"let input = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"device_num\", \"\");\n\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [[{ payload: input }]];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":200,"wires":[[]]},{"id":"d6c3edd5f9dd34af","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"reset","func":"let input = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"device_num\", \"\");\n\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [[{ payload: input }]];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":440,"wires":[[]]},{"id":"tmpl_guides","type":"ui_template","z":"0102ef3a5e2d0b80","group":"group_guides","name":"Trang Hướng dẫn","order":1,"width":7,"height":14,"format":"<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap\" rel=\"stylesheet\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n\n<style>\n  body {\n    background-color: #f5f7fa;\n    margin: 0;\n    font-family: 'Inter', sans-serif;\n    color: #333;\n    animation: fadeIn 0.6s ease-in-out;\n    padding: 12px;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(16px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  @keyframes neonGlow {\n\n    0%,\n    100% {\n      box-shadow: 0 0 4px #00e5ff66, 0 0 8px #00e5ff33,\n        0 0 12px #00e5ff22, 0 0 20px #00e5ff22;\n      border-color: #00e5ff44;\n    }\n\n    50% {\n      box-shadow: 0 0 6px #00ffc366, 0 0 10px #00ffc344,\n        0 0 16px #00ffc322, 0 0 24px #00ffc322;\n      border-color: #00ffc344;\n    }\n  }\n\n  .guide-box {\n    background: #ffffff;\n    border-radius: 16px;\n    padding: 20px;\n    border: 2px solid #00e5ff44;\n    animation: neonGlow 3s infinite ease-in-out;\n    box-sizing: border-box;\n  }\n\n  .guide-box h2 {\n    color: #1976d2;\n    font-size: 22px;\n    margin-bottom: 12px;\n    text-align: center;\n    font-weight: 600;\n  }\n\n  .guide-box h3 {\n    font-size: 18px;\n    color: #444;\n    margin-top: 20px;\n    margin-bottom: 8px;\n  }\n\n  .guide-box p {\n    font-size: 15px;\n    line-height: 1.6;\n    margin: 8px 0;\n  }\n\n  .guide-box ul {\n    padding-left: 20px;\n    margin-top: 6px;\n    margin-bottom: 12px;\n  }\n\n  .guide-box ul li {\n    font-size: 15px;\n    margin-bottom: 6px;\n  }\n\n  .highlight {\n    color: #c62828;\n    font-weight: 600;\n  }\n\n  /* Responsive enhancements */\n  @media (max-width: 480px) {\n    .guide-box {\n      padding: 16px;\n    }\n\n    .guide-box h2 {\n      font-size: 20px;\n    }\n\n    .guide-box h3 {\n      font-size: 16px;\n    }\n\n    .guide-box p,\n    .guide-box ul li {\n      font-size: 14px;\n    }\n  }\n</style>\n\n<div class=\"guide-box\">\n  <h2>Chào mừng đến với MakerSpace</h2>\n  <p>Nơi sinh viên có thể nghiên cứu, học tập và trải nghiệm thực tiễn trong môi trường sáng tạo, hiện đại.</p>\n\n  <h3>1. Đối tượng người dùng</h3>\n  <ul>\n    <li><b>Sinh viên chưa đăng ký</b>: Sinh viên tham quan, học tập.</li>\n    <li><b>Đối tượng đã đăng ký</b>: Nhóm sinh viên, Giảng viên làm việc.</li>\n    <li><b>Bảo mật</b>: Bộ phận quản lý, toàn quyền hệ thống.</li>\n  </ul>\n\n  <h3>2. Tài khoản &amp; Bảo mật</h3>\n  <ul>\n    <li><span class=\"highlight\">Đăng ký tài khoản qua bộ phận quản lý CISAT</span>.</li>\n    <li><b>Sinh viên chưa đăng ký</b>: Điều khiển trực tiếp (1 đèn - 1 giờ).</li>\n    <li><b>Sinh viên đã đăng ký</b>: Không giới hạn đèn <span class=\"highlight\">(Email@student.hcmute.edu.vn)</span>.\n    </li>\n    <li><b>Giảng viên đã đăng ký</b>: Không giới hạn thiết bị <span class=\"highlight\">(Email@hcmute.edu.vn)</span>.</li>\n    <li><b>Admin</b>: Sử dụng email được cấp sẵn.</li>\n    <li>Mật khẩu &ge; 6 ký tự. Quên mật khẩu → liên hệ Admin.</li>\n  </ul>\n\n  <h3>3. Lưu ý khi sử dụng</h3>\n  <ul>\n    <li>Guest có thể xin thêm thời gian sử dụng đèn.</li>\n    <li>Tắt đèn/quạt sau khi dùng (trừ khi tự động).</li>\n    <li>Mọi thắc mắc, liên hệ bộ phận kỹ thuật.</li>\n  </ul>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1770,"y":420,"wires":[[]]},{"id":"a1234567890b1234","type":"ui_template","z":"0102ef3a5e2d0b80","group":"group_info","name":"Trang Thông Tin MakerSpace","order":1,"width":7,"height":14,"format":"<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap\" rel=\"stylesheet\">\n\n<style>\n  body {\n    background-color: #f5f7fa;\n    margin: 0;\n    font-family: 'Inter', sans-serif;\n    color: #333;\n    animation: fadeIn 0.6s ease-in-out;\n    padding-top: 20px;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(16px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  @keyframes neonGlow {\n    0% {\n      box-shadow: 0 0 4px #00e5ff66,\n        0 0 8px #00e5ff33,\n        0 0 12px #00e5ff22,\n        0 0 20px #00e5ff22;\n      border-color: #00e5ff44;\n    }\n\n    50% {\n      box-shadow: 0 0 6px #00ffc366,\n        0 0 10px #00ffc344,\n        0 0 16px #00ffc322,\n        0 0 24px #00ffc322;\n      border-color: #00ffc344;\n    }\n\n    100% {\n      box-shadow: 0 0 4px #00e5ff66,\n        0 0 8px #00e5ff33,\n        0 0 12px #00e5ff22,\n        0 0 20px #00e5ff22;\n      border-color: #00e5ff44;\n    }\n  }\n\n  .container {\n    max-width: 800px;\n    margin: 20px auto;\n    padding: 40px;\n    background: #ffffff;\n    border-radius: 20px;\n    box-sizing: border-box;\n    position: relative;\n    transition: all 0.3s ease;\n    border: 2px solid #00e5ff44;\n    animation: neonGlow 3s infinite ease-in-out;\n  }\n\n  h2 {\n    margin-top: 0;\n    color: #1976d2;\n    font-size: 26px;\n    text-align: center;\n    font-weight: 600;\n  }\n\n  p {\n    margin: 12px 0;\n    line-height: 1.7;\n    font-size: 16px;\n  }\n\n  ul {\n    padding-left: 20px;\n    font-size: 16px;\n    margin: 8px 0 16px;\n  }\n\n  .highlight {\n    background-color: #e3f2fd;\n    border-left: 5px solid #2196f3;\n    padding: 16px 20px;\n    border-radius: 12px;\n    margin-top: 24px;\n    transition: background 0.3s ease;\n  }\n\n  .highlight:hover {\n    background-color: #d0eafd;\n  }\n\n  .contact-info {\n    background-color: #f1f8e9;\n    border-left: 5px solid #8bc34a;\n    padding: 16px 20px;\n    border-radius: 12px;\n    margin-top: 30px;\n    transition: background 0.3s ease;\n  }\n\n  .contact-info:hover {\n    background-color: #e3f3d9;\n  }\n\n  .label {\n    font-weight: 600;\n    color: #4caf50;\n  }\n\n  a {\n    color: #1976d2;\n    text-decoration: none;\n    position: relative;\n    font-weight: 500;\n  }\n\n  a::after {\n    content: \"\";\n    position: absolute;\n    width: 0%;\n    height: 2px;\n    left: 0;\n    bottom: -2px;\n    background-color: #1976d2;\n    transition: width 0.3s ease;\n  }\n\n  a:hover::after {\n    width: 100%;\n  }\n\n  a:hover {\n    color: #0d47a1;\n  }\n</style>\n<div class=\"container\">\n  <h2>🌟 MAKERSPACE 🌟</h2>\n\n  <p>MakerSpace là <b>không gian học tập sáng tạo hiện đại</b> dành riêng cho sinh viên và giảng viên Trường Đại học\n    Sư phạm Kỹ thuật TP.HCM.</p>\n\n  <div class=\"highlight\">\n    <p>Tại đây, bạn có thể:</p>\n    <ul>\n      <li>Triển khai dự án cá nhân, đồ án tốt nghiệp</li>\n      <li>Tổ chức cuộc thi sáng tạo, biểu diễn văn nghệ</li>\n      <li>Trình diễn thời trang công nghệ</li>\n      <li>Thực hiện nghiên cứu khoa học từ cơ bản đến nâng cao</li>\n    </ul>\n  </div>\n\n  <p>MakerSpace hỗ trợ đầy đủ công cụ kỹ thuật:</p>\n  <ul>\n    <li>Máy in 3D, máy CNC, máy cắt laser</li>\n    <li>Thiết bị IoT, điện – điện tử</li>\n    <li>Cơ khí chế tạo,...</li>\n  </ul>\n\n  <p>Không chỉ là nơi để <b>“làm”</b>, MakerSpace còn là nơi gieo mầm <b>tư duy đổi mới</b>, rèn kỹ năng thực hành và\n    truyền cảm hứng làm việc nhóm – chuẩn bị hành trang cho hành trình trở thành kỹ sư – nhà sáng tạo tương lai.</p>\n\n  <div class=\"contact-info\">\n    <p><span class=\"label\">📌 Giám đốc phụ trách:</span><br>ThS. Lê Tấn Cường</p>\n    <p><span class=\"label\">📧 Email:</span> <a href=\"mailto:cisat@hcmute.edu.vn\">cisat@hcmute.edu.vn</a></p>\n    <p><span class=\"label\">🌐 Website:</span> <a href=\"http://cisat.hcmute.edu.vn\"\n        target=\"_blank\">cisat.hcmute.edu.vn</a></p>\n    <p><span class=\"label\">📞 Điện thoại:</span> 0909 744 100</p>\n    <p><span class=\"label\">✉️ Email cá nhân:</span> <a href=\"mailto:cuonglt@hcmute.edu.vn\">cuonglt@hcmute.edu.vn</a></p>\n  </div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":2030,"y":420,"wires":[[]]},{"id":"79f0dfe335707ca5","type":"ui_button","z":"0102ef3a5e2d0b80","name":"","group":"f019ca3911f49866","order":2,"width":3,"height":1,"passthru":false,"label":"Hướng dẫn","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Hướng dẫn\"}","payloadType":"json","topic":"","topicType":"str","x":1810,"y":100,"wires":[["ee2daf0403a325bc"]]},{"id":"ff39e877edcd3815","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":810,"y":420,"wires":[["9af5c8297cba9a10"]]},{"id":"b2f0fdde.88e3a","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Lấy số từ giọng nói bật","func":"const text = msg.payload.toLowerCase();  // chuyển về chữ thường\n\n// Chỉ xử lý khi có chữ \"bật\" hoặc \"mở\"\nif (text.includes(\"bật\") || text.includes(\"mở\")) {\n    const match = text.match(/\\d+/); // tìm số đầu tiên\n    if (match) {\n        const number = parseInt(match[0]);\n        msg.payload = {\n            device: number,\n            Hour: 1\n        };\n        return msg;\n    }\n}\n\n// Nếu không có chữ \"bật\"/\"mở\" hoặc không có số thì bỏ qua\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":500,"wires":[["f17f983a3ce1e6cc","c6041de3b6de5586","d7ace6fbbec79b9a"]]},{"id":"c6041de3b6de5586","type":"debug","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":440,"wires":[]},{"id":"8d9f62cc9964fc4f","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Lấy số từ giọng nói","func":"const text = msg.payload;\nconst match = text.match(/\\d+/); // tìm số đầu tiên\nif (match) {\n    const number = parseInt(match[0]);\n    msg.payload = {\n    device: number,\n    Hour: 1\n};\n    return msg;\n} else {\n    return null;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":300,"wires":[[]]},{"id":"521aad049e2dd1f5","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Lấy số từ giọng nói tắt","func":"const text = msg.payload.toLowerCase();  // chuyển về chữ thường\n\n// Chỉ xử lý khi có chữ \"tắt\" hoặc \"tắc\"\nif (text.includes(\"tắt\") || text.includes(\"tắc\")) {\n    const matches = text.match(/\\d+/g); // tìm tất cả các số\n\n    if (matches && matches.length > 0) {\n        const messages = matches.map(number => {\n            return {\n                payload: {\n                    device: parseInt(number),\n                    Hour: 1\n                }\n            };\n        });\n\n        // Trả về nhiều tin nhắn (sử dụng node \"Split\" để tách hoặc return [msg1, msg2, ...])\n        return [messages];\n    }\n}\n\n// Nếu không có chữ \"tắt\" hoặc không có số thì bỏ qua\nreturn null;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":540,"wires":[["bbbc7a06eaa6ad10","d7ace6fbbec79b9a"]]},{"id":"c05ad8cabc4de7c6","type":"function","z":"0102ef3a5e2d0b80","name":"Lấy số từ giọng nói","func":"const text = msg.payload.toLowerCase();  // chuyển về chữ thường\n\n// Chỉ xử lý khi có chữ \"tắt\" hoặc \"tắc\"\nif (text.includes(\"tắt\") || text.includes(\"tắc\")) {\n    const match = text.match(/\\d+/); // tìm số đầu tiên\n    if (match) {\n        const number = parseInt(match[0]);\n        msg.payload = {\n            device: number,\n            Hour: 1\n        };\n        return msg;\n    }\n}\n\n// Nếu không có chữ \"tắt\" hoặc không có số thì bỏ qua\nreturn null;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":420,"wires":[[]]},{"id":"1a9b56a5406f1d3a","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Tạo token và link","func":"const token = Math.random().toString(36).substring(2, 12);\nconst msgOut = {\n    payload: JSON.stringify({ token: token })\n};\n\n// Gửi token này tới Node-RED Điều khiển\nmsgOut.topic = \"token/check21146282\";\n\nreturn msgOut;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":1600,"wires":[["e93d18b3449690a3","7eeaf44907bbc580"]]},{"id":"3a9897253e910afe","type":"mqtt out","z":"0102ef3a5e2d0b80","name":"MQTT Gửi token","topic":"TOKEN_21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":1770,"y":480,"wires":[]},{"id":"209dd6623ea952e4","type":"function","z":"0102ef3a5e2d0b80","name":"Tạo token và link","func":"const token = Math.random().toString(36).substring(2, 12);\nconst msgOut = {\n    payload: JSON.stringify({ token: token })\n};\n\n// Gửi token này tới Node-RED Điều khiển\nmsgOut.topic = \"token/check21146282\";\n\nreturn msgOut;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":500,"wires":[["3a9897253e910afe","c6041de3b6de5586"]]},{"id":"7eeaf44907bbc580","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"MQTT Gửi token","topic":"TOKEN_21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":770,"y":1660,"wires":[]},{"id":"cb6d8a71da125ee8","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"MQTT Gửi token","topic":"TOKEN_21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":2290,"y":1080,"wires":[]},{"id":"07267383bb8c2fde","type":"ui_template","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","group":"918d35a5629175cc","name":"Hiển thị 70 LED","order":4,"width":6,"height":13,"format":"<!-- Font Awesome -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css\">\n\n<!-- Tiêu đề bảng -->\n<h4 style=\"\n    text-align: center; \n    font-family: 'Segoe UI', sans-serif; \n    margin-top: 16px; \n    margin-bottom: 8px; \n    color: #ccc;               \n    font-size: 16px; \n    font-weight: 700;\n\">\n    BẢNG TRẠNG THÁI ĐÈN\n</h4>\n\n<!-- ANIMATION CSS -->\n<style>\n    @keyframes glowPulse {\n        0% {\n            box-shadow: 0 0 10px 2px rgba(0, 200, 255, 0.08);\n        }\n\n        50% {\n            box-shadow: 0 0 22px 6px rgba(0, 200, 255, 0.22);\n        }\n\n        100% {\n            box-shadow: 0 0 10px 2px rgba(0, 200, 255, 0.08);\n        }\n    }\n\n    @keyframes shineSlide {\n        0% {\n            background-position: -200% center;\n        }\n\n        100% {\n            background-position: 200% center;\n        }\n    }\n</style>\n\n<!-- KHUNG NGOÀI -->\n<div style=\"\n    border: 1px solid #333;\n    border-radius: 14px;\n    padding: 16px;\nbackground: linear-gradient(135deg, #1c1c1c, #2a2a2a, #1a1a1a);\n    background-size: 200% 200%;\n    animation: glowPulse 5s ease-in-out infinite;\n    max-width: 750px;\n    margin: 0 auto;\n    font-family: 'Segoe UI', sans-serif;\n    color: white;\n\">\n    <div layout=\"row\" layout-wrap layout-align=\"center center\" style=\"justify-content: center;\">\n        <div ng-repeat=\"led in msg.payload\" style=\"\n                margin: 4px;\n                width: 120px;\n                height: 80px;\n                background: {{led.status === 'ON' \n                    ? 'linear-gradient(135deg, #00c9ff, #92fe9d)' \n                    : 'linear-gradient(135deg, #111111, #222222)'}};\n                background-size: 400% 400%;\n                animation: {{led.status === 'ON' ? 'shineSlide 3s linear infinite' : 'glowPulse 2.2s ease-in-out infinite'}};\n                color: white;\n                border-radius: 20px;\n                display: flex;\n                flex-direction: column;\n                justify-content: center;\n                align-items: center;\n                box-shadow: {{led.status === 'ON' \n                    ? '0 0 22px 8px rgba(0, 201, 255, 0.5)' \n                    : '0 0 12px 3px rgba(0, 200, 255, 0.1)'}};\n                transition: transform 0.2s ease, box-shadow 0.3s ease;\n                cursor: pointer;\"\n            onmouseover=\"this.style.transform='scale(1.08)'; this.style.boxShadow='0 0 28px 10px ' + (this.getAttribute('data-status') === 'ON' ? 'rgba(0, 201, 255, 0.65)' : 'rgba(0, 200, 255, 0.2)')\"\n            onmouseout=\"this.style.transform='scale(1)'; this.style.boxShadow=(this.getAttribute('data-status') === 'ON' \n                ? '0 0 22px 8px rgba(0, 201, 255, 0.5)' \n                : '0 0 12px 3px rgba(0, 200, 255, 0.1)')\" data-status=\"{{led.status}}\">\n\n            <!-- ICON LED -->\n            <div style=\"font-size: 24px; margin-bottom: 5px;\">\n                <i class=\"fas fa-lightbulb\"></i>\n            </div>\n\n            <!-- ID và trạng thái -->\n            <div style=\"font-size: 16px; font-weight: bold;\">LED {{led.id}}</div>\n            <div style=\"font-size: 13px; opacity: 0.85;\">{{led.status}}</div>\n        </div>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":540,"y":580,"wires":[[]]},{"id":"3d66c3ba035d4d42","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Cập nhật trạng thái LED","func":"// Mặc định 70 đèn OFF và xám đậm\nlet leds = global.get(\"leds\") || Array.from({ length: 70 }, (_, i) => ({\n    id: i + 1,\n    status: \"OFF\",\n    color: \"#444\"\n}));\n\nif (msg.payload && msg.payload.value !== undefined) {\n    const index = msg.payload.value - 1;\n    if (index >= 0 && index < 70) {\n        leds[index].status = msg.payload.status;\n        leds[index].color = msg.payload.status === \"ON\" ? \"#00c9ff\" : \"#444\";\n    }\n}\n\nglobal.set(\"leds\", leds);\nmsg.payload = leds;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":580,"wires":[["07267383bb8c2fde"]]},{"id":"2831046eec66a798","type":"json","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Parse JSON","property":"payload","action":"","pretty":false,"x":230,"y":480,"wires":[["3d66c3ba035d4d42","0b39586c86bd7f31"]]},{"id":"e9cfa39dc0541e84","type":"mqtt in","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"MQTT Đèn","topic":"STATUS_21146282","qos":"0","datatype":"auto","broker":"37fcf5bfccf8b220","nl":false,"rap":true,"rh":0,"inputs":0,"x":60,"y":500,"wires":[["2831046eec66a798"]]},{"id":"668ccee7bd782ac6","type":"ui_button","z":"0102ef3a5e2d0b80","name":"","group":"061d34e475bc0b4d","order":3,"width":3,"height":1,"passthru":false,"label":"Quay lại","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Dashboard MakerSpace\"}","payloadType":"json","topic":"","topicType":"str","x":1600,"y":300,"wires":[["ee2daf0403a325bc"]]},{"id":"c9d8d09ac1dd8efa","type":"ui_button","z":"0102ef3a5e2d0b80","name":"","group":"061d34e475bc0b4d","order":4,"width":3,"height":1,"passthru":false,"label":"Hướng dẫn","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Hướng dẫn\"}","payloadType":"json","topic":"","topicType":"str","x":1990,"y":120,"wires":[["ee2daf0403a325bc"]]},{"id":"0b39586c86bd7f31","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Format for UI","func":"const status = msg.payload.status;\nconst value = msg.payload.value;\n\nmsg.payload = {\n    label: \"Đèn \" + value,\n    status: status,\n    color: status === \"ON\"\n        ? \"linear-gradient(135deg, #00ffe1, #0072ff)\"\n        : \"#2e2e2e\", // Màu nền khi tắt\n    shadow: status === \"ON\"\n        ? \"0 0 10px rgba(0, 255, 225, 0.6)\"\n        : \"0 0 5px rgba(0, 255, 225, 0.15)\" // viền xanh neon mờ khi tắt\n};\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":480,"wires":[["modern_ui_input_button"]]},{"id":"16ceeda0e43b49d2","type":"inject","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"","props":[{"p":"payload"},{"p":"topic","v":"{     \"status\": \"OFF\",   \"value\": 1}","vt":"json"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":420,"wires":[["0b39586c86bd7f31"]]},{"id":"a9d0e1fe3395bbea","type":"inject","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"","props":[{"p":"payload"},{"p":"topic","v":"[   {\"topic\":\"den1\",\"payload\":{\"label\":\"Đèn 1\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den2\",\"payload\":{\"label\":\"Đèn 2\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den3\",\"payload\":{\"label\":\"Đèn 3\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den4\",\"payload\":{\"label\":\"Đèn 4\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den5\",\"payload\":{\"label\":\"Đèn 5\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den6\",\"payload\":{\"label\":\"Đèn 6\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den7\",\"payload\":{\"label\":\"Đèn 7\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den8\",\"payload\":{\"label\":\"Đèn 8\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den9\",\"payload\":{\"label\":\"Đèn 9\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den10\",\"payload\":{\"label\":\"Đèn 10\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den11\",\"payload\":{\"label\":\"Đèn 11\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den12\",\"payload\":{\"label\":\"Đèn 12\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den13\",\"payload\":{\"label\":\"Đèn 13\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den14\",\"payload\":{\"label\":\"Đèn 14\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den15\",\"payload\":{\"label\":\"Đèn 15\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den16\",\"payload\":{\"label\":\"Đèn 16\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den17\",\"payload\":{\"label\":\"Đèn 17\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den18\",\"payload\":{\"label\":\"Đèn 18\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den19\",\"payload\":{\"label\":\"Đèn 19\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den20\",\"payload\":{\"label\":\"Đèn 20\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den21\",\"payload\":{\"label\":\"Đèn 21\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den22\",\"payload\":{\"label\":\"Đèn 22\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den23\",\"payload\":{\"label\":\"Đèn 23\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den24\",\"payload\":{\"label\":\"Đèn 24\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den25\",\"payload\":{\"label\":\"Đèn 25\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den26\",\"payload\":{\"label\":\"Đèn 26\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den27\",\"payload\":{\"label\":\"Đèn 27\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den28\",\"payload\":{\"label\":\"Đèn 28\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den29\",\"payload\":{\"label\":\"Đèn 29\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den30\",\"payload\":{\"label\":\"Đèn 30\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den31\",\"payload\":{\"label\":\"Đèn 31\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den32\",\"payload\":{\"label\":\"Đèn 32\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den33\",\"payload\":{\"label\":\"Đèn 33\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den34\",\"payload\":{\"label\":\"Đèn 34\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den35\",\"payload\":{\"label\":\"Đèn 35\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den36\",\"payload\":{\"label\":\"Đèn 36\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den37\",\"payload\":{\"label\":\"Đèn 37\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den38\",\"payload\":{\"label\":\"Đèn 38\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den39\",\"payload\":{\"label\":\"Đèn 39\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den40\",\"payload\":{\"label\":\"Đèn 40\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den41\",\"payload\":{\"label\":\"Đèn 41\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den42\",\"payload\":{\"label\":\"Đèn 42\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den43\",\"payload\":{\"label\":\"Đèn 43\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den44\",\"payload\":{\"label\":\"Đèn 44\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den45\",\"payload\":{\"label\":\"Đèn 45\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den46\",\"payload\":{\"label\":\"Đèn 46\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den47\",\"payload\":{\"label\":\"Đèn 47\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den48\",\"payload\":{\"label\":\"Đèn 48\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den49\",\"payload\":{\"label\":\"Đèn 49\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den50\",\"payload\":{\"label\":\"Đèn 50\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den51\",\"payload\":{\"label\":\"Đèn 51\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den52\",\"payload\":{\"label\":\"Đèn 52\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den53\",\"payload\":{\"label\":\"Đèn 53\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den54\",\"payload\":{\"label\":\"Đèn 54\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den55\",\"payload\":{\"label\":\"Đèn 55\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den56\",\"payload\":{\"label\":\"Đèn 56\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den57\",\"payload\":{\"label\":\"Đèn 57\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den58\",\"payload\":{\"label\":\"Đèn 58\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den59\",\"payload\":{\"label\":\"Đèn 59\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den60\",\"payload\":{\"label\":\"Đèn 60\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den61\",\"payload\":{\"label\":\"Đèn 61\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den62\",\"payload\":{\"label\":\"Đèn 62\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den63\",\"payload\":{\"label\":\"Đèn 63\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den64\",\"payload\":{\"label\":\"Đèn 64\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den65\",\"payload\":{\"label\":\"Đèn 65\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den66\",\"payload\":{\"label\":\"Đèn 66\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den67\",\"payload\":{\"label\":\"Đèn 67\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den68\",\"payload\":{\"label\":\"Đèn 68\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den69\",\"payload\":{\"label\":\"Đèn 69\",\"status\":\"OFF\",\"color\":\"#444\"}},   {\"topic\":\"den70\",\"payload\":{\"label\":\"Đèn 70\",\"status\":\"OFF\",\"color\":\"#444\"}} ]","vt":"json"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":660,"wires":[["3d66c3ba035d4d42"]]},{"id":"modern_ui_input_button","type":"ui_template","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","group":"918d35a5629175cc","name":"Bật đèn","order":3,"width":6,"height":10,"format":"<!-- Font Awesome -->\n<style>\n  .glow-btn {\n    position: relative;\n    overflow: hidden;\n    z-index: 1;\n    color: white;\n    font-weight: bold;\n    padding: 12px 24px;\n    border: none;\n    border-radius: 10px;\n    font-size: 16px;\n    cursor: pointer;\n  }\n\n  .glow-btn::before {\n    content: \"\";\n    position: absolute;\n    top: 0;\n    left: -150%;\n    width: 200%;\n    height: 100%;\n    z-index: 0;\n    pointer-events: none;\n    animation: shimmer 3s infinite;\n  }\n\n  .glow-btn-on {\n    background-color: #0077cc;\n  }\n\n  .glow-btn-on::before {\n    background: linear-gradient(120deg,\n        rgba(0, 255, 255, 0),\n        rgba(0, 255, 255, 0.4),\n        rgba(0, 255, 255, 0));\n  }\n\n  .glow-btn-off {\n    background-color: #990000;\n  }\n\n  .glow-btn-off::before {\n    background: linear-gradient(120deg,\n        rgba(255, 165, 0, 0),\n        rgba(255, 200, 100, 0.4),\n        rgba(255, 165, 0, 0));\n  }\n\n  @keyframes shimmer {\n    0% {\n      left: -150%;\n    }\n\n    50% {\n      left: 100%;\n    }\n\n    100% {\n      left: 100%;\n    }\n  }\n \n    .fade-in-up {\n      opacity: 0;\n      transform: translateY(20px);\n      animation: fadeInUp 0.8s ease-out forwards;\n    }\n  \n    @keyframes fadeInUp {\n      to {\n        opacity: 1;\n        transform: translateY(0);\n      }\n    }\n  html, body {\n  height: auto !important;\n  min-height: 100%;\n  overflow-y: auto; /* Cho phép cuộn theo chiều dọc */\n  scroll-behavior: smooth;\n  }\n  \n  body {\n  margin: 0;\n  padding-bottom: 50px; /* chừa khoảng cách nếu có nội dung dài */\n  }\n</style>\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css\">\n\n<!-- Container chính -->\n<div class=\"fade-in-up\" style=\"font-family: 'Segoe UI', sans-serif; max-width: 380px; margin: auto; padding: 17px; border-radius: 18px;\n            background: linear-gradient(145deg, #1a1a1a, #2c2c2c); box-shadow: 0 6px 14px rgba(0,0,0,0.3); color: #fff;\">\n\n  <!-- Tiêu đề -->\n  <div style=\"padding: 12px; border-radius: 10px; background: #1f1f1f; color: white; font-size: 20px; font-weight: bold;\n              display: flex; align-items: center; justify-content: center; gap: 10px; margin: 5px 0;\n              text-shadow: 0 0 4px rgba(0, 255, 255, 0.6), 0 0 8px rgba(0, 255, 255, 0.4);\">\n    <i class=\"fa-solid fa-plug\"></i> Điều khiển đèn (1 giờ)\n  </div>\n\n  <!-- Thẻ trạng thái -->\n  <div style=\"padding: 12px; border-radius: 10px; background: {{msg.payload.color}}; color: white; font-size: 16px;\n              display: flex; align-items: center; gap: 10px; margin: 16px 0; border: 1px solid rgba(0, 255, 255, 0.3);\n              box-shadow: 0 0 10px rgba(0, 255, 255, 0.2), 0 0 20px rgba(0, 255, 255, 0.1);\">\n    <div style=\"font-size: 24px;\"><i class=\"fa fa-lightbulb-o\"></i></div>\n    <div>\n      <div style=\"font-weight: bold;\">{{msg.payload.label}}</div>\n      <div>Trạng thái: <span style=\"font-weight: 500;\">{{msg.payload.status}}</span></div>\n    </div>\n  </div>\n\n  <!-- Nhập và nút bật/tắt -->\n  <div style=\"display: flex; flex-direction: column; align-items: center;\">\n    <input id=\"deviceInput1\" type=\"number\" min=\"1\" max=\"70\" placeholder=\"Nhập số đèn (1-70)\"\n           style=\"width: 90%; max-width: 300px; padding: 12px; font-size: 16px; border-radius: 10px;\n                  background-color: #2e2e2e; color: #00ffe1; box-shadow: inset 0 0 6px rgba(0,255,225,0.25); margin-bottom: 12px; border: none; outline: none;\">\n    <button id=\"sendBtn1\" class=\"glow-btn glow-btn-on\"\n      style=\"width: 90%; max-width: 300px; padding: 12px; font-size: 16px; border-radius: 10px;\n             background: linear-gradient(90deg, #00c9ff, #92fe9d); color: black; border: none; cursor: pointer;\n             font-weight: bold; letter-spacing: 0.5px; box-shadow: 0 3px 8px rgba(0,0,0,0.2); margin-bottom: 18px;\">\n      <i class=\"fa-solid fa-paper-plane\"></i> Bật đèn\n    </button>\n\n    <input id=\"deviceInput2\" type=\"number\" min=\"1\" max=\"70\" placeholder=\"Nhập số đèn (1-70)\"\n           style=\"width: 90%; max-width: 300px; padding: 12px; font-size: 16px; border-radius: 10px;\n                  background-color: #2e2e2e; color: #00ffe1; box-shadow: inset 0 0 6px rgba(0,255,225,0.25); margin-bottom: 12px; border: none; outline: none;\">\n    <button id=\"sendBtn2\" class=\"glow-btn glow-btn-off\"\n      style=\"width: 90%; max-width: 300px; padding: 12px; font-size: 16px; border-radius: 10px;\n             background: linear-gradient(90deg, #ff9966, #ff5e62); color: black; border: none; cursor: pointer;\n             font-weight: bold; letter-spacing: 0.5px; box-shadow: 0 3px 8px rgba(0,0,0,0.2);\">\n      <i class=\"fa-solid fa-paper-plane\"></i> Tắt đèn\n    </button>\n  </div>\n\n  <!-- Nút khởi động giọng nói -->\n  <div style=\"margin-top: 20px; text-align: center;\">\n    <button id=\"start-btn\" style=\"padding: 14px 28px; font-size: 15px; font-weight: bold;\n      background: linear-gradient(135deg, #00ffe1, #0055ff); color: black; border: none; border-radius: 50px;\n      cursor: pointer; box-shadow: 0 0 12px #00ffe1, 0 0 24px #0055ff; transition: all 0.3s ease;\">\n      🎤 Nhấn để nói\n    </button>\n  </div>\n</div>\n\n<!-- Phần hướng dẫn và kết quả, chỉ chữ viền neon dịu mắt, KHÔNG viền hay background bao ngoài -->\n<div style=\"max-width: 380px; margin: 20px auto 0 auto; font-family: 'Segoe UI', sans-serif; color: white;\">\n\n  <p id=\"voice-guide\" style=\"\n    margin: 0 0 6px 0;\n    font-size: 16px;\n    font-style: italic;\n    text-align: center;\n    text-shadow:\n      0 0 2px #00ffff,\n      0 0 4px #00ffff,\n      0 0 6px #00ffff;\">\n    <i class=\"fa-solid fa-microphone\"></i> Nói: \"Bật đèn 1\" hoặc \"Tắt đèn 2, 3\"\n  </p>\n\n<p id=\"result\" style=\"\n  margin: 0;\n  font-size: 14px;\n  font-weight: bold;\n  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n  text-align: center;\n  color: black;\n  text-shadow:\n    0 0 5px #00ffe1,\n    0 0 10px #00ffe1,\n    0 0 20px #0077ff,\n    0 0 30px #0077ff;\">\n</p>\n\n</div>\n\n<!-- SCRIPT -->\n<script>\n  (function(scope) {\n  const inputs = [\n    { id: \"deviceInput1\", btn: \"sendBtn1\", topic: \"input1\" },\n    { id: \"deviceInput2\", btn: \"sendBtn2\", topic: \"input2\" }\n  ];\n\n  inputs.forEach(({ id, btn, topic }) => {\n    const input = document.getElementById(id);\n    const button = document.getElementById(btn);\n\n    input.addEventListener(\"focus\", () => {\n      input.style.boxShadow = \"0 0 10px #00ffe1\";\n      input.style.transform = \"scale(1.03)\";\n    });\n\n    input.addEventListener(\"blur\", () => {\n      input.style.boxShadow = \"inset 0 0 6px rgba(0,255,225,0.25)\";\n      input.style.transform = \"scale(1)\";\n    });\n\n    button.addEventListener(\"mouseover\", () => {\n      button.style.transform = \"scale(1.04)\";\n      button.style.boxShadow = \"0 6px 12px rgba(0,0,0,0.35)\";\n    });\n\n    button.addEventListener(\"mouseout\", () => {\n      button.style.transform = \"scale(1)\";\n      button.style.boxShadow = \"0 3px 8px rgba(0,0,0,0.2)\";\n    });\n\n    button.onclick = () => {\n      const value = parseInt(input.value);\n      if (!isNaN(value) && value >= 1 && value <= 70) {\n        scope.send({ payload: value, topic });\n      } else {\n        alert(\"⚠️ Vui lòng nhập số từ 1 đến 70\");\n      }\n    };\n  });\n\n  const btn = document.getElementById('start-btn');\n  const result = document.getElementById('result');\n  const guide = document.getElementById('voice-guide');\n  const recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition)();\n  recognition.lang = 'vi-VN';\n  recognition.interimResults = false;\n\n  btn.addEventListener('click', () => {\n    btn.innerHTML = '🎧 Đang nghe...';\n    btn.style.background = '#000';\n    btn.style.color = '#00ffe1';\n    btn.style.boxShadow = '0 0 10px #00ffe1, 0 0 20px #00ffe1';\n    recognition.start();\n  });\n\nrecognition.onresult = (event) => {\nconst transcript = event.results[0][0].transcript.toLowerCase();\nguide.style.display = 'none';\nresult.innerHTML = `👉 Bạn nói:\n\"<span style='color: black; font-size: 14px; text-shadow: 0 0 4px #00ffe1, 0 0 8px #0077ff;'>${transcript}</span>\"`;\nbtn.innerHTML = '🎤 Nhấn để nói';\nbtn.style.background = 'linear-gradient(135deg, #00ffe1, #0055ff)';\nbtn.style.color = 'black';\nbtn.style.boxShadow = '0 0 12px #00ffe1, 0 0 24px #0055ff';\n\nconst match = transcript.match(/(bật|tắt)\\s+đèn\\s*(số)?\\s*(\\d+)/);\nif (match) {\nconst action = match[1];\nconst number = parseInt(match[3]);\nif (number >= 1 && number <= 70) { scope.send({ payload: number, topic: action===\"bật\" ? \"input1\" : \"input2\" }); } else\n  { scope.send({ payload: \"Số đèn không hợp lệ!\" }); } }\nelse if (\n  transcript.includes(\"tắt tất cả\") ||\n  transcript.includes(\"tắt hết\") ||\n  transcript.includes(\"tắt đèn tất cả\") ||\n  transcript.includes(\"tắt đèn hết\")\n) {\n  scope.send({ payload: \"ALL_OFF\", topic: \"input3\" });\n}\nelse if (\n  transcript.includes(\"bật tất cả\") ||\n  transcript.includes(\"bật hết\") ||\n  transcript.includes(\"bật đèn tất cả\") ||\n  transcript.includes(\"bật đèn hết\")\n) {\n  scope.send({ payload: \"ALL_ON\", topic: \"input4\" });\n}\n\n   setTimeout(()=> {\n  guide.style.display = 'block';\n  result.innerHTML = '';\n  }, 6000);\n  };\n\n  recognition.onerror = (event) => {\n    result.textContent = `Lỗi: ${event.error}`;\n    btn.innerHTML = '🎤 Nhấn để nói';\n    btn.style.background = 'linear-gradient(135deg, #00ffe1, #0055ff)';\n    btn.style.color = 'black';\n    btn.style.boxShadow = '0 0 12px #00ffe1, 0 0 24px #0055ff';\n    scope.send({ payload: \"Lỗi: \" + event.error });\n  };\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":80,"y":320,"wires":[["9064f46bd4f62e9d","7ff3c1136975f81c","0d56fe0a123fe9f3","b2f0fdde.88e3a","521aad049e2dd1f5","245d57a70f155957"]]},{"id":"0d56fe0a123fe9f3","type":"switch","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Phân loại theo topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"input1","vt":"str"},{"t":"eq","v":"input2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":160,"wires":[["4488a51ccf06b8ca"],["c7a6e3b24be64cde"]]},{"id":"27496b907f4d1829","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Lấy số từ giọng nói tắt","func":"if (msg.payload === \"ALL_OFF\") {\n    const msgs = [];\n    for (let i = 1; i <= 70; i++) {\n        msgs.push({\n            payload: {\n                device: i,\n                Hour: 1\n            }\n        });\n    }\n    return [msgs]; // Gửi hàng loạt message ra cổng đầu tiên\n}\nreturn [null];\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":640,"wires":[["bbbc7a06eaa6ad10"]]},{"id":"245d57a70f155957","type":"switch","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Phân loại theo topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"input3","vt":"str"},{"t":"eq","v":"input4","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":560,"wires":[["27496b907f4d1829"],[]]},{"id":"804dde875bddbaf6","type":"ui_template","z":"0102ef3a5e2d0b80","group":"918d35a5629175cc","name":"Thoát","order":1,"width":3,"height":1,"format":"<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease;\n    /* Đổ bóng ngoài mờ hơn */\n    box-shadow: 0 0 12px rgba(0, 234, 255, 0.3), 0 0 24px rgba(0, 119, 255, 0.25);\n  }\n\n  .fancy-btn:hover {\n    transform: scale(1.05);\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.25);\n    transform: skewX(-25deg);\n    animation: sweep 2s infinite;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n\n  .fadeout {\n    animation: fadeOutBody 1s forwards;\n  }\n\n  @keyframes fadeOutBody {\n    to {\n      opacity: 0;\n      transform: scale(1.02);\n    }\n  }\n</style>\n\n<div style=\"text-align:center; margin-top: 0;\">\n  <button class=\"fancy-btn\" onclick=\"fadeAndGo()\">THOÁT</button>\n</div>\n\n<script>\n  function fadeAndGo() {\n    document.body.classList.add('fadeout');\n    const audio = new Audio('https://assets.mixkit.co/sfx/download/mixkit-interface-click-1125.mp3');\n    audio.play();\n    setTimeout(() => {\n      window.location.href = \"https://cisat.hcmute.edu.vn/\";\n    }, 1000);\n  }\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2510,"y":560,"wires":[[]]},{"id":"d3dbc983033d9ae5","type":"ui_template","z":"0102ef3a5e2d0b80","group":"918d35a5629175cc","name":"Quay lại","order":2,"width":3,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"fancy-btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Dashboard MakerSpace'}})\">\n    Quay lại\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://www.soundjay.com/water/sounds/water-droplet-1.mp3\" preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease;\n    box-shadow: 0 0 8px #00eaff80, 0 0 15px #0077ff80;\n  }\n\n  .fancy-btn:hover {\n    transform: scale(1.05);\n    box-shadow: 0 0 12px #00eaff, 0 0 22px #0077ff;\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.2);\n    transform: skewX(-25deg);\n    animation: sweep 3s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2160,"y":300,"wires":[["ee2daf0403a325bc"]]},{"id":"f9d123edfb5028b0","type":"ui_template","z":"0102ef3a5e2d0b80","group":"eae14bd35e06b943","name":"Nút Quay Lại","order":1,"width":6,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"md-raised md-primary\" ng-click=\"send({payload: {tab: 'Dashboard MakerSpace'}})\">\n    Quay lại\n  </md-button>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":2450,"y":380,"wires":[[]]},{"id":"5b1b582a66edb4a3","type":"ui_template","z":"0102ef3a5e2d0b80","group":"bc890b17fb36f5ca","name":"Thông tin","order":3,"width":3,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"fancy-btn fade-in-btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Thông tin'}})\">\n    Thông tin\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://chattest.openai.com/mf/files/file-3kcjR1N1ByHr4XMGVFerUt/water-drop-89799.mp3\"\n  preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease, box-shadow 0.3s ease;\n    box-shadow: 0 0 6px rgba(0, 234, 255, 0.4), 0 0 12px rgba(0, 119, 255, 0.3);\n    animation: fadeIn 1s ease-out;\n  }\n\n  .fancy-btn:hover {\n    transform: scale(1.08);\n    box-shadow: 0 0 10px rgba(0, 234, 255, 0.8), 0 0 18px rgba(0, 119, 255, 0.7);\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -100%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.25);\n    transform: skewX(-20deg);\n    animation: sweep 2.5s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -100%;\n    }\n\n    100% {\n      left: 120%;\n    }\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(20px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1880,"y":280,"wires":[["ee2daf0403a325bc"]]},{"id":"c49751b87ec2bc15","type":"ui_template","z":"0102ef3a5e2d0b80","group":"bc890b17fb36f5ca","name":"Hướng dẫn","order":4,"width":3,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"fancy-btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Hướng dẫn'}})\">\n    Hướng dẫn\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://chattest.openai.com/mf/files/file-3kcjR1N1ByHr4XMGVFerUt/water-drop-89799.mp3\"\n  preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease, box-shadow 0.3s ease;\n    box-shadow: 0 0 6px rgba(0, 234, 255, 0.4), 0 0 12px rgba(0, 119, 255, 0.3);\n    /* Nhạt hơn */\n  }\n\n  .fancy-btn:hover {\n    transform: scale(1.08);\n    box-shadow: 0 0 10px rgba(0, 234, 255, 0.8), 0 0 18px rgba(0, 119, 255, 0.7);\n    /* Vẫn có hiệu ứng hover */\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -100%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.25);\n    transform: skewX(-20deg);\n    animation: sweep 2.5s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -100%;\n    }\n\n    100% {\n      left: 120%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1739,"y":248,"wires":[["ee2daf0403a325bc"]]},{"id":"107fe8da45a6530a","type":"ui_template","z":"0102ef3a5e2d0b80","group":"group_guides","name":"Quay lại","order":3,"width":3,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"fancy-btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Dashboard MakerSpace'}})\">\n    Quay lại\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://www.soundjay.com/water/sounds/water-droplet-1.mp3\" preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease;\n    box-shadow: 0 0 8px #00eaff80, 0 0 15px #0077ff80;\n  }\n\n  .fancy-btn:hover {\n    transform: scale(1.05);\n    box-shadow: 0 0 12px #00eaff, 0 0 22px #0077ff;\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.2);\n    transform: skewX(-25deg);\n    animation: sweep 3s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1420,"y":200,"wires":[["ee2daf0403a325bc"]]},{"id":"63bec545947d0842","type":"ui_template","z":"0102ef3a5e2d0b80","group":"group_info","name":"Quay lại","order":3,"width":3,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"fancy-btn\" ng-click=\"playDropSound(); send({payload: {tab: 'Dashboard MakerSpace'}})\">\n    Quay lại\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://www.soundjay.com/water/sounds/water-droplet-1.mp3\" preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fancy-btn {\n    position: relative;\n    display: inline-block;\n    padding: 12px 28px;\n    font-size: 14px;\n    width: 140px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #00eaff, #0077ff);\n    border: none;\n    border-radius: 10px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.3s ease;\n    box-shadow: 0 0 8px #00eaff80, 0 0 15px #0077ff80;\n  }\n\n  .fancy-btn:hover {\n    transform: scale(1.05);\n    box-shadow: 0 0 12px #00eaff, 0 0 22px #0077ff;\n  }\n\n  .fancy-btn::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.2);\n    transform: skewX(-25deg);\n    animation: sweep 3s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1900,"y":60,"wires":[["ee2daf0403a325bc"]]},{"id":"c67028d912301115","type":"ui_template","z":"0102ef3a5e2d0b80","group":"52c17a7636c487aa","name":"Sinh viên chưa đăng ký","order":1,"width":6,"height":1,"format":"<div class=\"fade-in-wrapper\" style=\"display: flex; justify-content: center; margin-top: 4px;\">\n  <md-button class=\"btn-chua-dang-ky fade-in\" ng-click=\"playDropSound(); send({payload: {tab: 'Chưa đăng ký'}})\">\n    Bật đèn nhanh (giới hạn)\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://www.soundjay.com/water/sounds/water-droplet-1.mp3\" preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  /* Fade-in animation */\n  @keyframes fadeIn {\n    0% {\n      opacity: 0;\n      transform: translateY(10px);\n    }\n\n    100% {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  .fade-in {\n    animation: fadeIn 0.8s ease-out both;\n  }\n\n  .btn-chua-dang-ky {\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    width: 90%;\n    height: 40px;\n    padding: 6px 12px;\n    font-size: 14px;\n    font-weight: 600;\n    color: white !important;\n    background: linear-gradient(135deg, #adff2f, #004d00);\n    border-radius: 8px;\n    transition: all 0.2s ease;\n    box-shadow: 0 0 5px #adff2f66, 0 0 10px #00ff7f66;\n    position: relative;\n    overflow: hidden;\n    white-space: nowrap;\n    text-overflow: ellipsis;\n    min-height: unset !important;\n  }\n\n  .btn-chua-dang-ky:hover {\n    transform: scale(0.98);\n    box-shadow: 0 0 8px #adff2faa, 0 0 16px #00ff7faa;\n  }\n\n  .btn-chua-dang-ky:active {\n    transform: scale(0.96);\n    box-shadow: 0 0 2px #adff2f55, 0 0 3px #00ff7f55;\n  }\n\n  .btn-chua-dang-ky::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.2);\n    transform: skewX(-25deg);\n    animation: sweep 3s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -60%;\n    }\n\n    100% {\n      left: 120%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1370,"y":40,"wires":[["ee2daf0403a325bc","209dd6623ea952e4"]]},{"id":"050c77153280cf76","type":"ui_template","z":"0102ef3a5e2d0b80","group":"52c17a7636c487aa","name":"Sinh viên đã đăng ký","order":2,"width":6,"height":1,"format":"<div style=\"text-align:center; margin-top: 0;\">\n  <md-button class=\"btn-chua-dang-ky fade-in\" ng-click=\"playDropSound(); send({payload: {tab: 'Đã đăng ký'}})\">\n    Sinh viên đã đăng ký\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://www.soundjay.com/water/sounds/water-droplet-1.mp3\" preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .btn-chua-dang-ky {\n    position: relative;\n    display: inline-block;\n    padding: 14px 20px;\n    min-width: 180px;\n    font-size: 16px;\n    font-weight: bold;\n    color: white !important;\n    background: linear-gradient(135deg, #adff2f, #004d00);\n    border: none;\n    border-radius: 12px;\n    cursor: pointer;\n    overflow: hidden;\n    transition: transform 0.2s ease;\n    box-shadow: 0 0 8px #adff2f80, 0 0 14px #00ff7f80;\n  }\n\n  .btn-chua-dang-ky:hover {\n    transform: scale(1.03);\n    box-shadow: 0 0 12px #adff2f, 0 0 18px #00ff7f;\n  }\n\n  .btn-chua-dang-ky::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.2);\n    transform: skewX(-25deg);\n    animation: sweep 3s infinite;\n    pointer-events: none;\n  }\n\n  /* Hiệu ứng quét ánh sáng */\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n\n  /* Hiệu ứng fade in */\n  .fade-in {\n    animation: fadeIn 1s ease-out;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(20px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1340,"y":140,"wires":[["ee2daf0403a325bc"]]},{"id":"e368ff6d24b26212","type":"ui_template","z":"0102ef3a5e2d0b80","group":"52c17a7636c487aa","name":"Bảo mật","order":2,"width":6,"height":1,"format":"<div class=\"fade-container\">\n  <md-button class=\"btn-full-width\" ng-click=\"playDropSound(); send({payload: {tab: 'Quản trị viên'}})\">\n    Bảo mật\n  </md-button>\n</div>\n\n<audio id=\"dropSound\" src=\"https://www.soundjay.com/water/sounds/water-droplet-1.mp3\" preload=\"auto\"></audio>\n\n<script>\n  function playDropSound() {\n    const audio = document.getElementById('dropSound');\n    if (audio) {\n      audio.currentTime = 0;\n      audio.play();\n    }\n  }\n</script>\n\n<style>\n  .fade-container {\n    display: flex;\n    justify-content: center;\n    margin-top: 2px;\n    animation: fadeIn 0.8s ease-out;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(12px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  .btn-full-width {\n    width: 90%;\n    height: 40px;\n    padding: 6px 12px;\n    font-size: 14px;\n    font-weight: 600;\n    color: white !important;\n    background: linear-gradient(135deg, #ff3b3f, #8b0000);\n    border: none;\n    border-radius: 12px;\n    cursor: pointer;\n    text-align: center;\n    transition: transform 0.2s ease, box-shadow 0.2s ease;\n    box-shadow: 0 0 6px #ff3b3f80, 0 0 12px #ff000080;\n    position: relative;\n    overflow: hidden;\n  }\n\n  .btn-full-width:hover {\n    transform: scale(0.98);\n    box-shadow: 0 0 10px #ff3b3f, 0 0 18px #ff0000;\n  }\n\n  .btn-full-width::before {\n    content: '';\n    position: absolute;\n    top: 0;\n    left: -75%;\n    width: 50%;\n    height: 100%;\n    background: rgba(255, 255, 255, 0.2);\n    transform: skewX(-25deg);\n    animation: sweep 3s infinite;\n    pointer-events: none;\n  }\n\n  @keyframes sweep {\n    0% {\n      left: -75%;\n    }\n\n    100% {\n      left: 125%;\n    }\n  }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1620,"y":20,"wires":[["ee2daf0403a325bc"]]},{"id":"0153c7bc587a5a3a","type":"ui_spacer","z":"0102ef3a5e2d0b80","name":"spacer","group":"948792d3da95d5c2","order":3,"width":4,"height":1},{"id":"1e8bea9d29dcf357","type":"ui_spacer","z":"0102ef3a5e2d0b80","name":"spacer","group":"3b485d4287c492b1","order":3,"width":1,"height":1},{"id":"90163115d6da9a20","type":"ui_spacer","z":"0102ef3a5e2d0b80","name":"spacer","group":"7382439799ec2cdd","order":5,"width":6,"height":1},{"id":"112496259f244e61","type":"ui_spacer","z":"0102ef3a5e2d0b80","name":"spacer","group":"7382439799ec2cdd","order":6,"width":6,"height":1},{"id":"742139a9930642c1","type":"ui_spacer","z":"0102ef3a5e2d0b80","name":"spacer","group":"7382439799ec2cdd","order":7,"width":6,"height":1},{"id":"b3f7846cedf70ec6","type":"ui_spacer","z":"0102ef3a5e2d0b80","name":"spacer","group":"group_info","order":2,"width":2,"height":1},{"id":"e28ae433d60d8ac7","type":"ui_spacer","z":"0102ef3a5e2d0b80","name":"spacer","group":"group_info","order":4,"width":2,"height":1},{"id":"7fb846e3498b531e","type":"ui_spacer","z":"0102ef3a5e2d0b80","name":"spacer","group":"group_guides","order":2,"width":2,"height":1},{"id":"53f2c142ec4517e5","type":"ui_spacer","z":"0102ef3a5e2d0b80","name":"spacer","group":"group_guides","order":4,"width":2,"height":1},{"id":"37fcf5bfccf8b220","type":"mqtt-broker","name":"APP","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"918d35a5629175cc","type":"ui_group","name":"Liên hệ admin đăng kí tài khoản","tab":"dc7efeb13a24ac97","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"f08cb50a5c0eb83d","type":"ui_group","name":"Đăng nhập","tab":"e93f1d4d44c6aa68","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7382439799ec2cdd","type":"ui_group","name":"Đăng Nhập","tab":"bc7c54f842a16b86","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bc890b17fb36f5ca","type":"ui_group","name":"HỆ THỐNG ĐIỀU KHIỂN THIẾT BỊ","tab":"3f91211b03dcce33","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"52c17a7636c487aa","type":"ui_group","name":"Bật đèn nhanh tại đây ⬇️","tab":"3f91211b03dcce33","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"00b9b02b83b979d7","type":"ui_group","name":"Vui lòng thoát sau khi sử dụng","tab":"bc7c54f842a16b86","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"f019ca3911f49866","type":"ui_group","name":"Liên hệ admin đăng kí tài khoản","tab":"e93f1d4d44c6aa68","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"group_guides","type":"ui_group","name":"Hướng dẫn MakerSpace","tab":"tab_guides","order":1,"disp":true,"width":7,"collapse":false},{"id":"group_info","type":"ui_group","name":"GIỚI THIỆU VỀ MAKERSPACE","tab":"tab_info","order":1,"disp":true,"width":"7","collapse":false,"className":""},{"id":"061d34e475bc0b4d","type":"ui_group","name":"Liên hệ admin đăng kí tài khoản","tab":"0811aa66759b6e35","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"eae14bd35e06b943","type":"ui_group","name":"Nhóm test","tab":"2fcb1d21dd8d80a0","order":1,"disp":true,"width":"6","collapse":false},{"id":"dc7efeb13a24ac97","type":"ui_tab","name":"Chưa đăng ký","icon":"face","order":4,"disabled":false,"hidden":false},{"id":"e93f1d4d44c6aa68","type":"ui_tab","name":"Đã đăng ký","icon":"account_circle","order":5},{"id":"bc7c54f842a16b86","type":"ui_tab","name":"Quản trị viên","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"3f91211b03dcce33","type":"ui_tab","name":"Dashboard MakerSpace","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"tab_guides","type":"ui_tab","name":"Hướng dẫn","icon":"book","order":2},{"id":"tab_info","type":"ui_tab","name":"Thông tin","icon":"info","order":3},{"id":"0811aa66759b6e35","type":"ui_tab","name":"Thiết bị đèn","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"2fcb1d21dd8d80a0","type":"ui_tab","name":"Đã đăng ký","icon":"dashboard","order":5}]
